In [106]:
import csv
import pandas as pd
from pandas import DataFrame
import datetime

In [107]:
df=pd.read_csv("ucl_data.csv",parse_dates=True)
print(df.head())
df['Start time'] = pd.to_datetime(df['Start time'])
df['End time'] = pd.to_datetime(df['End time'])

            Start time             End time   Activity
0  2011-11-28 02:27:59  2011-11-28 10:18:11   Sleeping
1  2011-11-28 10:21:24  2011-11-28 10:23:36  Toileting
2  2011-11-28 10:25:44  2011-11-28 10:33:00  Showering
3  2011-11-28 10:34:23  2011-11-28 10:43:00  Breakfast
4  2011-11-28 10:49:48  2011-11-28 10:51:13   Grooming

In [108]:
curr=datetime.datetime(2011,11,28,0,0,0)
seq1 = []
seq1.append(curr)
while curr< datetime.datetime(2011,12,12,23,0,0):
    curr = curr + datetime.timedelta(minutes = 15)
    seq1.append(curr)

print(len(seq1))

1437

In [109]:
df2=pd.DataFrame(seq1,columns=['date time'])
print(df2.head())

            date time
0 2011-11-28 00:00:00
1 2011-11-28 00:15:00
2 2011-11-28 00:30:00
3 2011-11-28 00:45:00
4 2011-11-28 01:00:00

In [110]:
df2["Free"]=0
df2['month'] = df2['date time'].dt.month
df2['day'] = df2['date time'].dt.day
df2['hour'] = df2['date time'].dt.hour
df2['minu'] = df2['date time'].dt.minute



print(df2.head())

            date time  Free  month  day  hour  minu
0 2011-11-28 00:00:00     0     11   28     0     0
1 2011-11-28 00:15:00     0     11   28     0    15
2 2011-11-28 00:30:00     0     11   28     0    30
3 2011-11-28 00:45:00     0     11   28     0    45
4 2011-11-28 01:00:00     0     11   28     1     0

In [111]:
df3=df.loc[df['Activity'] == 'Spare_Time/TV']
df3.head()

            Start time            End time       Activity
5  2011-11-28 10:51:41 2011-11-28 13:05:07  Spare_Time/TV
8  2011-11-28 13:38:40 2011-11-28 14:21:40  Spare_Time/TV
12 2011-11-28 15:07:01 2011-11-28 20:20:00  Spare_Time/TV
14 2011-11-28 20:21:15 2011-11-29 02:06:00  Spare_Time/TV
21 2011-11-29 12:22:38 2011-11-29 12:24:59  Spare_Time/TV

In [112]:

print(df3['Start time'].dt.hour.head())
df3['Start time'].dt.minute.head()

5     10
8     13
12    15
14    20
21    12
Name: Start time, dtype: int64

5     51
8     38
12     7
14    21
21    22
Name: Start time, dtype: int64

In [113]:
for i in range(len(df3)):
    mon=df3.iloc[i,0].month
    date=df3.iloc[i,0].day
    hou=df3.iloc[i,0].hour
    minu=df3.iloc[i,0].minute
    minu=minu-minu%15
    
    start=datetime.datetime(2011,mon,date,hou,minu,0)
    j=df2.index[df2['date time'] ==start ]
    flag=1
    
    while(flag==1):
        
        
        mon1=df2.iloc[j,2]
        date1=df2.iloc[j,3]
        hou1=df2.iloc[j,4]
        minu1=df2.iloc[j,5]
        
        mon2=df3.iloc[i,1].month
        date2=df3.iloc[i,1].day
        hou2=df3.iloc[i,1].hour
        minu2=df3.iloc[i,1].minute
    
    
        if( datetime.datetime(2011,mon1,date1,hou1,minu1) >  datetime.datetime(2011,mon2,date2,hou2,minu2) ):
            flag=0
        else:
            df2.iloc[j,1]=1
            
        j=j+1


print(df2.head())

            date time  Free  month  day  hour  minu
0 2011-11-28 00:00:00     0     11   28     0     0
1 2011-11-28 00:15:00     0     11   28     0    15
2 2011-11-28 00:30:00     0     11   28     0    30
3 2011-11-28 00:45:00     0     11   28     0    45
4 2011-11-28 01:00:00     0     11   28     1     0

In [117]:
df2['weekday']=0
for i in range(len(df2)):
    df2.iloc[i,6]=df2.iloc[i,0].weekday()
    print(df2.iloc[i])

date time    2011-11-28 00:00:00
Free                           0
month                         11
day                           28
hour                           0
minu                           0
weekday                        0
Name: 0, dtype: object
date time    2011-11-28 00:15:00
Free                           0
month                         11
day                           28
hour                           0
minu                          15
weekday                        0
Name: 1, dtype: object
date time    2011-11-28 00:30:00
Free                           0
month                         11
day                           28
hour                           0
minu                          30
weekday                        0
Name: 2, dtype: object
date time    2011-11-28 00:45:00
Free                           0
month                         11
day                           28
hour                           0
minu                          45
weekday                        0
Name: 3, dtype: object
date time    2011-11-28 01:00:00
Free                           0
month                         11
day                           28
hour                           1
minu                           0
weekday                        0
Name: 4, dtype: object
date time    2011-11-28 01:15:00
Free                           0
month                         11
day                           28
hour                           1
minu                          15
weekday                        0
Name: 5, dtype: object
date time    2011-11-28 01:30:00
Free                           0
month                         11
day                           28
hour                           1
minu                          30
weekday                        0
Name: 6, dtype: object
date time    2011-11-28 01:45:00
Free                           0
month                         11
day                           28
hour                           1
minu                          45
weekday                        0
Name: 7, dtype: object
date time    2011-11-28 02:00:00
Free                           0
month                         11
day                           28
hour                           2
minu                           0
weekday                        0
Name: 8, dtype: object
date time    2011-11-28 02:15:00
Free                           0
month                         11
day                           28
hour                           2
minu                          15
weekday                        0
Name: 9, dtype: object
date time    2011-11-28 02:30:00
Free                           0
month                         11
day                           28
hour                           2
minu                          30
weekday                        0
Name: 10, dtype: object
date time    2011-11-28 02:45:00
Free                           0
month                         11
day                           28
hour                           2
minu                          45
weekday                        0
Name: 11, dtype: object
date time    2011-11-28 03:00:00
Free                           0
month                         11
day                           28
hour                           3
minu                           0
weekday                        0
Name: 12, dtype: object
date time    2011-11-28 03:15:00
Free                           0
month                         11
day                           28
hour                           3
minu                          15
weekday                        0
Name: 13, dtype: object
date time    2011-11-28 03:30:00
Free                           0
month                         11
day                           28
hour                           3
minu                          30
weekday                        0
Name: 14, dtype: object
date time    2011-11-28 03:45:00
Free                           0
month                         11
day                           28
hour                           3
minu                          45
weekday                        0
Name: 15, dtype: object
date time    2011-11-28 04:00:00
Free                           0
month                         11
day                           28
hour                           4
minu                           0
weekday                        0
Name: 16, dtype: object
date time    2011-11-28 04:15:00
Free                           0
month                         11
day                           28
hour                           4
minu                          15
weekday                        0
Name: 17, dtype: object
date time    2011-11-28 04:30:00
Free                           0
month                         11
day                           28
hour                           4
minu                          30
weekday                        0
Name: 18, dtype: object
date time    2011-11-28 04:45:00
Free                           0
month                         11
day                           28
hour                           4
minu                          45
weekday                        0
Name: 19, dtype: object
date time    2011-11-28 05:00:00
Free                           0
month                         11
day                           28
hour                           5
minu                           0
weekday                        0
Name: 20, dtype: object
date time    2011-11-28 05:15:00
Free                           0
month                         11
day                           28
hour                           5
minu                          15
weekday                        0
Name: 21, dtype: object
date time    2011-11-28 05:30:00
Free                           0
month                         11
day                           28
hour                           5
minu                          30
weekday                        0
Name: 22, dtype: object
date time    2011-11-28 05:45:00
Free                           0
month                         11
day                           28
hour                           5
minu                          45
weekday                        0
Name: 23, dtype: object
date time    2011-11-28 06:00:00
Free                           0
month                         11
day                           28
hour                           6
minu                           0
weekday                        0
Name: 24, dtype: object
date time    2011-11-28 06:15:00
Free                           0
month                         11
day                           28
hour                           6
minu                          15
weekday                        0
Name: 25, dtype: object
date time    2011-11-28 06:30:00
Free                           0
month                         11
day                           28
hour                           6
minu                          30
weekday                        0
Name: 26, dtype: object
date time    2011-11-28 06:45:00
Free                           0
month                         11
day                           28
hour                           6
minu                          45
weekday                        0
Name: 27, dtype: object
date time    2011-11-28 07:00:00
Free                           0
month                         11
day                           28
hour                           7
minu                           0
weekday                        0
Name: 28, dtype: object
date time    2011-11-28 07:15:00
Free                           0
month                         11
day                           28
hour                           7
minu                          15
weekday                        0
Name: 29, dtype: object
date time    2011-11-28 07:30:00
Free                           0
month                         11
day                           28
hour                           7
minu                          30
weekday                        0
Name: 30, dtype: object
date time    2011-11-28 07:45:00
Free                           0
month                         11
day                           28
hour                           7
minu                          45
weekday                        0
Name: 31, dtype: object
date time    2011-11-28 08:00:00
Free                           0
month                         11
day                           28
hour                           8
minu                           0
weekday                        0
Name: 32, dtype: object
date time    2011-11-28 08:15:00
Free                           0
month                         11
day                           28
hour                           8
minu                          15
weekday                        0
Name: 33, dtype: object
date time    2011-11-28 08:30:00
Free                           0
month                         11
day                           28
hour                           8
minu                          30
weekday                        0
Name: 34, dtype: object
date time    2011-11-28 08:45:00
Free                           0
month                         11
day                           28
hour                           8
minu                          45
weekday                        0
Name: 35, dtype: object
date time    2011-11-28 09:00:00
Free                           0
month                         11
day                           28
hour                           9
minu                           0
weekday                        0
Name: 36, dtype: object
date time    2011-11-28 09:15:00
Free                           0
month                         11
day                           28
hour                           9
minu                          15
weekday                        0
Name: 37, dtype: object
date time    2011-11-28 09:30:00
Free                           0
month                         11
day                           28
hour                           9
minu                          30
weekday                        0
Name: 38, dtype: object
date time    2011-11-28 09:45:00
Free                           0
month                         11
day                           28
hour                           9
minu                          45
weekday                        0
Name: 39, dtype: object
date time    2011-11-28 10:00:00
Free                           0
month                         11
day                           28
hour                          10
minu                           0
weekday                        0
Name: 40, dtype: object
date time    2011-11-28 10:15:00
Free                           0
month                         11
day                           28
hour                          10
minu                          15
weekday                        0
Name: 41, dtype: object
date time    2011-11-28 10:30:00
Free                           0
month                         11
day                           28
hour                          10
minu                          30
weekday                        0
Name: 42, dtype: object
date time    2011-11-28 10:45:00
Free                           1
month                         11
day                           28
hour                          10
minu                          45
weekday                        0
Name: 43, dtype: object
date time    2011-11-28 11:00:00
Free                           1
month                         11
day                           28
hour                          11
minu                           0
weekday                        0
Name: 44, dtype: object
date time    2011-11-28 11:15:00
Free                           1
month                         11
day                           28
hour                          11
minu                          15
weekday                        0
Name: 45, dtype: object
date time    2011-11-28 11:30:00
Free                           1
month                         11
day                           28
hour                          11
minu                          30
weekday                        0
Name: 46, dtype: object
date time    2011-11-28 11:45:00
Free                           1
month                         11
day                           28
hour                          11
minu                          45
weekday                        0
Name: 47, dtype: object
date time    2011-11-28 12:00:00
Free                           1
month                         11
day                           28
hour                          12
minu                           0
weekday                        0
Name: 48, dtype: object
date time    2011-11-28 12:15:00
Free                           1
month                         11
day                           28
hour                          12
minu                          15
weekday                        0
Name: 49, dtype: object
date time    2011-11-28 12:30:00
Free                           1
month                         11
day                           28
hour                          12
minu                          30
weekday                        0
Name: 50, dtype: object
date time    2011-11-28 12:45:00
Free                           1
month                         11
day                           28
hour                          12
minu                          45
weekday                        0
Name: 51, dtype: object
date time    2011-11-28 13:00:00
Free                           1
month                         11
day                           28
hour                          13
minu                           0
weekday                        0
Name: 52, dtype: object
date time    2011-11-28 13:15:00
Free                           0
month                         11
day                           28
hour                          13
minu                          15
weekday                        0
Name: 53, dtype: object
date time    2011-11-28 13:30:00
Free                           1
month                         11
day                           28
hour                          13
minu                          30
weekday                        0
Name: 54, dtype: object
date time    2011-11-28 13:45:00
Free                           1
month                         11
day                           28
hour                          13
minu                          45
weekday                        0
Name: 55, dtype: object
date time    2011-11-28 14:00:00
Free                           1
month                         11
day                           28
hour                          14
minu                           0
weekday                        0
Name: 56, dtype: object
date time    2011-11-28 14:15:00
Free                           1
month                         11
day                           28
hour                          14
minu                          15
weekday                        0
Name: 57, dtype: object
date time    2011-11-28 14:30:00
Free                           0
month                         11
day                           28
hour                          14
minu                          30
weekday                        0
Name: 58, dtype: object
date time    2011-11-28 14:45:00
Free                           0
month                         11
day                           28
hour                          14
minu                          45
weekday                        0
Name: 59, dtype: object
date time    2011-11-28 15:00:00
Free                           1
month                         11
day                           28
hour                          15
minu                           0
weekday                        0
Name: 60, dtype: object
date time    2011-11-28 15:15:00
Free                           1
month                         11
day                           28
hour                          15
minu                          15
weekday                        0
Name: 61, dtype: object
date time    2011-11-28 15:30:00
Free                           1
month                         11
day                           28
hour                          15
minu                          30
weekday                        0
Name: 62, dtype: object
date time    2011-11-28 15:45:00
Free                           1
month                         11
day                           28
hour                          15
minu                          45
weekday                        0
Name: 63, dtype: object
date time    2011-11-28 16:00:00
Free                           1
month                         11
day                           28
hour                          16
minu                           0
weekday                        0
Name: 64, dtype: object
date time    2011-11-28 16:15:00
Free                           1
month                         11
day                           28
hour                          16
minu                          15
weekday                        0
Name: 65, dtype: object
date time    2011-11-28 16:30:00
Free                           1
month                         11
day                           28
hour                          16
minu                          30
weekday                        0
Name: 66, dtype: object
date time    2011-11-28 16:45:00
Free                           1
month                         11
day                           28
hour                          16
minu                          45
weekday                        0
Name: 67, dtype: object
date time    2011-11-28 17:00:00
Free                           1
month                         11
day                           28
hour                          17
minu                           0
weekday                        0
Name: 68, dtype: object
date time    2011-11-28 17:15:00
Free                           1
month                         11
day                           28
hour                          17
minu                          15
weekday                        0
Name: 69, dtype: object
date time    2011-11-28 17:30:00
Free                           1
month                         11
day                           28
hour                          17
minu                          30
weekday                        0
Name: 70, dtype: object
date time    2011-11-28 17:45:00
Free                           1
month                         11
day                           28
hour                          17
minu                          45
weekday                        0
Name: 71, dtype: object
date time    2011-11-28 18:00:00
Free                           1
month                         11
day                           28
hour                          18
minu                           0
weekday                        0
Name: 72, dtype: object
date time    2011-11-28 18:15:00
Free                           1
month                         11
day                           28
hour                          18
minu                          15
weekday                        0
Name: 73, dtype: object
date time    2011-11-28 18:30:00
Free                           1
month                         11
day                           28
hour                          18
minu                          30
weekday                        0
Name: 74, dtype: object
date time    2011-11-28 18:45:00
Free                           1
month                         11
day                           28
hour                          18
minu                          45
weekday                        0
Name: 75, dtype: object
date time    2011-11-28 19:00:00
Free                           1
month                         11
day                           28
hour                          19
minu                           0
weekday                        0
Name: 76, dtype: object
date time    2011-11-28 19:15:00
Free                           1
month                         11
day                           28
hour                          19
minu                          15
weekday                        0
Name: 77, dtype: object
date time    2011-11-28 19:30:00
Free                           1
month                         11

Name: 125, dtype: object
date time    2011-11-29 07:30:00
Free                           0
month                         11
day                           29
hour                           7
minu                          30
weekday                        1
Name: 126, dtype: object
date time    2011-11-29 07:45:00
Free                           0
month                         11
day                           29
hour                           7
minu                          45
weekday                        1
Name: 127, dtype: object
date time    2011-11-29 08:00:00
Free                           0
month                         11
day                           29
hour                           8
minu                           0
weekday                        1
Name: 128, dtype: object
date time    2011-11-29 08:15:00
Free                           0
month                         11
day                           29
hour                           8
minu                          15
weekday                        1
Name: 129, dtype: object
date time    2011-11-29 08:30:00
Free                           0
month                         11
day                           29
hour                           8
minu                          30
weekday                        1
Name: 130, dtype: object
date time    2011-11-29 08:45:00
Free                           0
month                         11
day                           29
hour                           8
minu                          45
weekday                        1
Name: 131, dtype: object
date time    2011-11-29 09:00:00
Free                           0
month                         11
day                           29
hour                           9
minu                           0
weekday                        1
Name: 132, dtype: object
date time    2011-11-29 09:15:00
Free                           0
month                         11
day                           29
hour                           9
minu                          15
weekday                        1
Name: 133, dtype: object
date time    2011-11-29 09:30:00
Free                           0
month                         11
day                           29
hour                           9
minu                          30
weekday                        1
Name: 134, dtype: object
date time    2011-11-29 09:45:00
Free                           0
month                         11
day                           29
hour                           9
minu                          45
weekday                        1
Name: 135, dtype: object
date time    2011-11-29 10:00:00
Free                           0
month                         11
day                           29
hour                          10
minu                           0
weekday                        1
Name: 136, dtype: object
date time    2011-11-29 10:15:00
Free                           0
month                         11
day                           29
hour                          10
minu                          15
weekday                        1
Name: 137, dtype: object
date time    2011-11-29 10:30:00
Free                           0
month                         11
day                           29
hour                          10
minu                          30
weekday                        1
Name: 138, dtype: object
date time    2011-11-29 10:45:00
Free                           0
month                         11
day                           29
hour                          10
minu                          45
weekday                        1
Name: 139, dtype: object
date time    2011-11-29 11:00:00
Free                           0
month                         11
day                           29
hour                          11
minu                           0
weekday                        1
Name: 140, dtype: object
date time    2011-11-29 11:15:00
Free                           0
month                         11
day                           29
hour                          11
minu                          15
weekday                        1
Name: 141, dtype: object
date time    2011-11-29 11:30:00
Free                           0
month                         11
day                           29
hour                          11
minu                          30
weekday                        1
Name: 142, dtype: object
date time    2011-11-29 11:45:00
Free                           0
month                         11
day                           29
hour                          11
minu                          45
weekday                        1
Name: 143, dtype: object
date time    2011-11-29 12:00:00
Free                           0
month                         11
day                           29
hour                          12
minu                           0
weekday                        1
Name: 144, dtype: object
date time    2011-11-29 12:15:00
Free                           1
month                         11
day                           29
hour                          12
minu                          15
weekday                        1
Name: 145, dtype: object
date time    2011-11-29 12:30:00
Free                           0
month                         11
day                           29
hour                          12
minu                          30
weekday                        1
Name: 146, dtype: object
date time    2011-11-29 12:45:00
Free                           0
month                         11
day                           29
hour                          12
minu                          45
weekday                        1
Name: 147, dtype: object
date time    2011-11-29 13:00:00
Free                           0
month                         11
day                           29
hour                          13
minu                           0
weekday                        1
Name: 148, dtype: object
date time    2011-11-29 13:15:00
Free                           1
month                         11
day                           29
hour                          13
minu                          15
weekday                        1
Name: 149, dtype: object
date time    2011-11-29 13:30:00
Free                           1
month                         11
day                           29
hour                          13
minu                          30
weekday                        1
Name: 150, dtype: object
date time    2011-11-29 13:45:00
Free                           1
month                         11
day                           29
hour                          13
minu                          45
weekday                        1
Name: 151, dtype: object
date time    2011-11-29 14:00:00
Free                           1
month                         11
day                           29
hour                          14
minu                           0
weekday                        1
Name: 152, dtype: object
date time    2011-11-29 14:15:00
Free                           1
month                         11
day                           29
hour                          14
minu                          15
weekday                        1
Name: 153, dtype: object
date time    2011-11-29 14:30:00
Free                           1
month                         11
day                           29
hour                          14
minu                          30
weekday                        1
Name: 154, dtype: object
date time    2011-11-29 14:45:00
Free                           1
month                         11
day                           29
hour                          14
minu                          45
weekday                        1
Name: 155, dtype: object
date time    2011-11-29 15:00:00
Free                           1
month                         11
day                           29
hour                          15
minu                           0
weekday                        1
Name: 156, dtype: object
date time    2011-11-29 15:15:00
Free                           0
month                         11
day                           29
hour                          15
minu                          15
weekday                        1
Name: 157, dtype: object
date time    2011-11-29 15:30:00
Free                           0
month                         11
day                           29
hour                          15
minu                          30
weekday                        1
Name: 158, dtype: object
date time    2011-11-29 15:45:00
Free                           1
month                         11
day                           29
hour                          15
minu                          45
weekday                        1
Name: 159, dtype: object
date time    2011-11-29 16:00:00
Free                           1
month                         11
day                           29
hour                          16
minu                           0
weekday                        1
Name: 160, dtype: object
date time    2011-11-29 16:15:00
Free                           1
month                         11
day                           29
hour                          16
minu                          15
weekday                        1
Name: 161, dtype: object
date time    2011-11-29 16:30:00
Free                           1
month                         11
day                           29
hour                          16
minu                          30
weekday                        1
Name: 162, dtype: object
date time    2011-11-29 16:45:00
Free                           1
month                         11
day                           29
hour                          16
minu                          45
weekday                        1
Name: 163, dtype: object
date time    2011-11-29 17:00:00
Free                           1
month                         11
day                           29
hour                          17
minu                           0
weekday                        1
Name: 164, dtype: object
date time    2011-11-29 17:15:00
Free                           0
month                         11
day                           29
hour                          17
minu                          15
weekday                        1
Name: 165, dtype: object
date time    2011-11-29 17:30:00
Free                           1
month                         11
day                           29
hour                          17
minu                          30
weekday                        1
Name: 166, dtype: object
date time    2011-11-29 17:45:00
Free                           1
month                         11
day                           29
hour                          17
minu                          45
weekday                        1
Name: 167, dtype: object
date time    2011-11-29 18:00:00
Free                           1
month                         11
day                           29
hour                          18
minu                           0
weekday                        1
Name: 168, dtype: object
date time    2011-11-29 18:15:00
Free                           1
month                         11
day                           29
hour                          18
minu                          15
weekday                        1
Name: 169, dtype: object
date time    2011-11-29 18:30:00
Free                           1
month                         11
day                           29
hour                          18
minu                          30
weekday                        1
Name: 170, dtype: object
date time    2011-11-29 18:45:00
Free                           1
month                         11
day                           29
hour                          18
minu                          45
weekday                        1
Name: 171, dtype: object
date time    2011-11-29 19:00:00
Free                           0
month                         11
day                           29
hour                          19
minu                           0
weekday                        1
Name: 172, dtype: object
date time    2011-11-29 19:15:00
Free                           0
month                         11
day                           29
hour                          19
minu                          15
weekday                        1
Name: 173, dtype: object
date time    2011-11-29 19:30:00
Free                           0
month                         11
day                           29
hour                          19
minu                          30
weekday                        1
Name: 174, dtype: object
date time    2011-11-29 19:45:00
Free                           0
month                         11
day                           29
hour                          19
minu                          45
weekday                        1
Name: 175, dtype: object
date time    2011-11-29 20:00:00
Free                           0
month                         11
day                           29
hour                          20
minu                           0
weekday                        1
Name: 176, dtype: object
date time    2011-11-29 20:15:00
Free                           1
month                         11
day                           29
hour                          20
minu                          15
weekday                        1
Name: 177, dtype: object
date time    2011-11-29 20:30:00
Free                           1
month                         11
day                           29
hour                          20
minu                          30
weekday                        1
Name: 178, dtype: object
date time    2011-11-29 20:45:00
Free                           1
month                         11
day                           29
hour                          20
minu                          45
weekday                        1
Name: 179, dtype: object
date time    2011-11-29 21:00:00
Free                           1
month                         11
day                           29
hour                          21
minu                           0
weekday                        1
Name: 180, dtype: object
date time    2011-11-29 21:15:00
Free                           1
month                         11
day                           29
hour                          21
minu                          15
weekday                        1
Name: 181, dtype: object
date time    2011-11-29 21:30:00
Free                           1
month                         11
day                           29
hour                          21
minu                          30
weekday                        1
Name: 182, dtype: object
date time    2011-11-29 21:45:00
Free                           1
month                         11
day                           29
hour                          21
minu                          45
weekday                        1
Name: 183, dtype: object
date time    2011-11-29 22:00:00
Free                           1
month                         11
day                           29
hour                          22
minu                           0
weekday                        1
Name: 184, dtype: object
date time    2011-11-29 22:15:00
Free                           1
month                         11
day                           29
hour                          22
minu                          15
weekday                        1
Name: 185, dtype: object
date time    2011-11-29 22:30:00
Free                           1
month                         11
day                           29
hour                          22
minu                          30
weekday                        1
Name: 186, dtype: object
date time    2011-11-29 22:45:00
Free                           1
month                         11
day                           29
hour                          22
minu                          45
weekday                        1
Name: 187, dtype: object
date time    2011-11-29 23:00:00
Free                           1
month                         11
day                           29
hour                          23
minu                           0
weekday                        1
Name: 188, dtype: object
date time    2011-11-29 23:15:00
Free                           1
month                         11
day                           29
hour                          23
minu                          15
weekday                        1
Name: 189, dtype: object
date time    2011-11-29 23:30:00
Free                           1
month                         11
day                           29
hour                          23
minu                          30
weekday                        1
Name: 190, dtype: object
date time    2011-11-29 23:45:00
Free                           1
month                         11
day                           29
hour                          23
minu                          45
weekday                        1
Name: 191, dtype: object
date time    2011-11-30 00:00:00
Free                           1
month                         11
day                           30
hour                           0
minu                           0
weekday                        2
Name: 192, dtype: object
date time    2011-11-30 00:15:00
Free                           1
month                         11
day                           30
hour                           0
minu                          15
weekday                        2
Name: 193, dtype: object
date time    2011-11-30 00:30:00
Free                           1
month                         11
day                           30
hour                           0
minu                          30
weekday                        2
Name: 194, dtype: object
date time    2011-11-30 00:45:00
Free                           1
month                         11
day                           30
hour                           0
minu                          45
weekday                        2
Name: 195, dtype: object
date time    2011-11-30 01:00:00
Free                           1
month                         11
day                           30
hour                           1
minu                           0
weekday                        2
Name: 196, dtype: object
date time    2011-11-30 01:15:00
Free                           1
month                         11
day                           30
hour                           1
minu                          15
weekday                        2
Name: 197, dtype: object
date time    2011-11-30 01:30:00
Free                           0
month                         11
day                           30
hour                           1
minu                          30
weekday                        2
Name: 198, dtype: object
date time    2011-11-30 01:45:00
Free                           0
month                         11
day                           30
hour                           1
minu                          45
weekday                        2
Name: 199, dtype: object
date time    2011-11-30 02:00:00
Free                           0
month                         11
day                           30
hour                           2
minu                           0
weekday                        2
Name: 200, dtype: object
date time    2011-11-30 02:15:00
Free                           0
month                         11
day                           30
hour                           2
minu                          15
weekday                        2
Name: 201, dtype: object
date time    2011-11-30 02:30:00
Free                           0
month                         11
day                           30
hour                           2
minu                          30
weekday                        2
Name: 202, dtype: object
date time    2011-11-30 02:45:00
Free                           0
month                         11
day                           30
hour                           2
minu                          45
weekday                        2
Name: 203, dtype: object

Name: 245, dtype: object
date time    2011-11-30 13:30:00
Free                           1
month                         11
day                           30
hour                          13
minu                          30
weekday                        2
Name: 246, dtype: object
date time    2011-11-30 13:45:00
Free                           1
month                         11
day                           30
hour                          13
minu                          45
weekday                        2
Name: 247, dtype: object
date time    2011-11-30 14:00:00
Free                           1
month                         11
day                           30
hour                          14
minu                           0
weekday                        2
Name: 248, dtype: object
date time    2011-11-30 14:15:00
Free                           1
month                         11
day                           30
hour                          14
minu                          15
weekday                        2
Name: 249, dtype: object
date time    2011-11-30 14:30:00
Free                           1
month                         11
day                           30
hour                          14
minu                          30
weekday                        2
Name: 250, dtype: object
date time    2011-11-30 14:45:00
Free                           0
month                         11
day                           30
hour                          14
minu                          45
weekday                        2
Name: 251, dtype: object
date time    2011-11-30 15:00:00
Free                           1
month                         11
day                           30
hour                          15
minu                           0
weekday                        2
Name: 252, dtype: object
date time    2011-11-30 15:15:00
Free                           1
month                         11
day                           30
hour                          15
minu                          15
weekday                        2
Name: 253, dtype: object
date time    2011-11-30 15:30:00
Free                           1
month                         11
day                           30
hour                          15
minu                          30
weekday                        2
Name: 254, dtype: object
date time    2011-11-30 15:45:00
Free                           1
month                         11
day                           30
hour                          15
minu                          45
weekday                        2
Name: 255, dtype: object
date time    2011-11-30 16:00:00
Free                           1
month                         11
day                           30
hour                          16
minu                           0
weekday                        2
Name: 256, dtype: object
date time    2011-11-30 16:15:00
Free                           1
month                         11
day                           30
hour                          16
minu                          15
weekday                        2
Name: 257, dtype: object
date time    2011-11-30 16:30:00
Free                           1
month                         11
day                           30
hour                          16
minu                          30
weekday                        2
Name: 258, dtype: object
date time    2011-11-30 16:45:00
Free                           1
month                         11
day                           30
hour                          16
minu                          45
weekday                        2
Name: 259, dtype: object
date time    2011-11-30 17:00:00
Free                           1
month                         11
day                           30
hour                          17
minu                           0
weekday                        2
Name: 260, dtype: object
date time    2011-11-30 17:15:00
Free                           1
month                         11
day                           30
hour                          17
minu                          15
weekday                        2
Name: 261, dtype: object
date time    2011-11-30 17:30:00
Free                           1
month                         11
day                           30
hour                          17
minu                          30
weekday                        2
Name: 262, dtype: object
date time    2011-11-30 17:45:00
Free                           1
month                         11
day                           30
hour                          17
minu                          45
weekday                        2
Name: 263, dtype: object
date time    2011-11-30 18:00:00
Free                           1
month                         11
day                           30
hour                          18
minu                           0
weekday                        2
Name: 264, dtype: object
date time    2011-11-30 18:15:00
Free                           1
month                         11
day                           30
hour                          18
minu                          15
weekday                        2
Name: 265, dtype: object
date time    2011-11-30 18:30:00
Free                           1
month                         11
day                           30
hour                          18
minu                          30
weekday                        2
Name: 266, dtype: object
date time    2011-11-30 18:45:00
Free                           1
month                         11
day                           30
hour                          18
minu                          45
weekday                        2
Name: 267, dtype: object
date time    2011-11-30 19:00:00
Free                           1
month                         11
day                           30
hour                          19
minu                           0
weekday                        2
Name: 268, dtype: object
date time    2011-11-30 19:15:00
Free                           1
month                         11
day                           30
hour                          19
minu                          15
weekday                        2
Name: 269, dtype: object
date time    2011-11-30 19:30:00
Free                           1
month                         11
day                           30
hour                          19
minu                          30
weekday                        2
Name: 270, dtype: object
date time    2011-11-30 19:45:00
Free                           0
month                         11
day                           30
hour                          19
minu                          45
weekday                        2
Name: 271, dtype: object
date time    2011-11-30 20:00:00
Free                           1
month                         11
day                           30
hour                          20
minu                           0
weekday                        2
Name: 272, dtype: object
date time    2011-11-30 20:15:00
Free                           1
month                         11
day                           30
hour                          20
minu                          15
weekday                        2
Name: 273, dtype: object
date time    2011-11-30 20:30:00
Free                           1
month                         11
day                           30
hour                          20
minu                          30
weekday                        2
Name: 274, dtype: object
date time    2011-11-30 20:45:00
Free                           1
month                         11
day                           30
hour                          20
minu                          45
weekday                        2
Name: 275, dtype: object
date time    2011-11-30 21:00:00
Free                           1
month                         11
day                           30
hour                          21
minu                           0
weekday                        2
Name: 276, dtype: object
date time    2011-11-30 21:15:00
Free                           1
month                         11
day                           30
hour                          21
minu                          15
weekday                        2
Name: 277, dtype: object
date time    2011-11-30 21:30:00
Free                           1
month                         11
day                           30
hour                          21
minu                          30
weekday                        2
Name: 278, dtype: object
date time    2011-11-30 21:45:00
Free                           1
month                         11
day                           30
hour                          21
minu                          45
weekday                        2
Name: 279, dtype: object
date time    2011-11-30 22:00:00
Free                           1
month                         11
day                           30
hour                          22
minu                           0
weekday                        2
Name: 280, dtype: object
date time    2011-11-30 22:15:00
Free                           1
month                         11
day                           30
hour                          22
minu                          15
weekday                        2
Name: 281, dtype: object
date time    2011-11-30 22:30:00
Free                           1
month                         11
day                           30
hour                          22
minu                          30
weekday                        2
Name: 282, dtype: object
date time    2011-11-30 22:45:00
Free                           1
month                         11
day                           30
hour                          22
minu                          45
weekday                        2
Name: 283, dtype: object
date time    2011-11-30 23:00:00
Free                           1
month                         11
day                           30
hour                          23
minu                           0
weekday                        2
Name: 284, dtype: object
date time    2011-11-30 23:15:00
Free                           1
month                         11
day                           30
hour                          23
minu                          15
weekday                        2
Name: 285, dtype: object
date time    2011-11-30 23:30:00
Free                           1
month                         11
day                           30
hour                          23
minu                          30
weekday                        2
Name: 286, dtype: object
date time    2011-11-30 23:45:00
Free                           1
month                         11
day                           30
hour                          23
minu                          45
weekday                        2
Name: 287, dtype: object
date time    2011-12-01 00:00:00
Free                           1
month                         12
day                            1
hour                           0
minu                           0
weekday                        3
Name: 288, dtype: object
date time    2011-12-01 00:15:00
Free                           1
month                         12
day                            1
hour                           0
minu                          15
weekday                        3
Name: 289, dtype: object
date time    2011-12-01 00:30:00
Free                           1
month                         12
day                            1
hour                           0
minu                          30
weekday                        3
Name: 290, dtype: object
date time    2011-12-01 00:45:00
Free                           1
month                         12
day                            1
hour                           0
minu                          45
weekday                        3
Name: 291, dtype: object
date time    2011-12-01 01:00:00
Free                           1
month                         12
day                            1
hour                           1
minu                           0
weekday                        3
Name: 292, dtype: object
date time    2011-12-01 01:15:00
Free                           1
month                         12
day                            1
hour                           1
minu                          15
weekday                        3
Name: 293, dtype: object
date time    2011-12-01 01:30:00
Free                           1
month                         12
day                            1
hour                           1
minu                          30
weekday                        3
Name: 294, dtype: object
date time    2011-12-01 01:45:00
Free                           0
month                         12
day                            1
hour                           1
minu                          45
weekday                        3
Name: 295, dtype: object
date time    2011-12-01 02:00:00
Free                           0
month                         12
day                            1
hour                           2
minu                           0
weekday                        3
Name: 296, dtype: object
date time    2011-12-01 02:15:00
Free                           0
month                         12
day                            1
hour                           2
minu                          15
weekday                        3
Name: 297, dtype: object
date time    2011-12-01 02:30:00
Free                           0
month                         12
day                            1
hour                           2
minu                          30
weekday                        3
Name: 298, dtype: object
date time    2011-12-01 02:45:00
Free                           0
month                         12
day                            1
hour                           2
minu                          45
weekday                        3
Name: 299, dtype: object
date time    2011-12-01 03:00:00
Free                           0
month                         12
day                            1
hour                           3
minu                           0
weekday                        3
Name: 300, dtype: object
date time    2011-12-01 03:15:00
Free                           0
month                         12
day                            1
hour                           3
minu                          15
weekday                        3
Name: 301, dtype: object
date time    2011-12-01 03:30:00
Free                           0
month                         12
day                            1
hour                           3
minu                          30
weekday                        3
Name: 302, dtype: object
date time    2011-12-01 03:45:00
Free                           0
month                         12
day                            1
hour                           3
minu                          45
weekday                        3
Name: 303, dtype: object
date time    2011-12-01 04:00:00
Free                           0
month                         12
day                            1
hour                           4
minu                           0
weekday                        3
Name: 304, dtype: object
date time    2011-12-01 04:15:00
Free                           0
month                         12
day                            1
hour                           4
minu                          15
weekday                        3
Name: 305, dtype: object
date time    2011-12-01 04:30:00
Free                           0
month                         12
day                            1
hour                           4
minu                          30
weekday                        3
Name: 306, dtype: object
date time    2011-12-01 04:45:00
Free                           0
month                         12
day                            1
hour                           4
minu                          45
weekday                        3
Name: 307, dtype: object
date time    2011-12-01 05:00:00
Free                           0
month                         12
day                            1
hour                           5
minu                           0
weekday                        3
Name: 308, dtype: object
date time    2011-12-01 05:15:00
Free                           0
month                         12
day                            1
hour                           5
minu                          15
weekday                        3
Name: 309, dtype: object
date time    2011-12-01 05:30:00
Free                           0
month                         12
day                            1
hour                           5
minu                          30
weekday                        3
Name: 310, dtype: object
date time    2011-12-01 05:45:00
Free                           0
month                         12
day                            1
hour                           5
minu                          45
weekday                        3
Name: 311, dtype: object
date time    2011-12-01 06:00:00
Free                           0
month                         12
day                            1
hour                           6
minu                           0
weekday                        3
Name: 312, dtype: object
date time    2011-12-01 06:15:00
Free                           0
month                         12
day                            1
hour                           6
minu                          15
weekday                        3
Name: 313, dtype: object
date time    2011-12-01 06:30:00
Free                           0
month                         12
day                            1
hour                           6
minu                          30
weekday                        3
Name: 314, dtype: object
date time    2011-12-01 06:45:00
Free                           0
month                         12
day                            1
hour                           6
minu                          45
weekday                        3
Name: 315, dtype: object
date time    2011-12-01 07:00:00
Free                           0
month                         12
day                            1
hour                           7
minu                           0
weekday                        3
Name: 316, dtype: object
date time    2011-12-01 07:15:00
Free                           0
month                         12
day                            1
hour                           7
minu                          15
weekday                        3
Name: 317, dtype: object
date time    2011-12-01 07:30:00
Free                           0
month                         12
day                            1
hour                           7
minu                          30
weekday                        3
Name: 318, dtype: object
date time    2011-12-01 07:45:00
Free                           0
month                         12
day                            1
hour                           7
minu                          45
weekday                        3
Name: 319, dtype: object
date time    2011-12-01 08:00:00
Free                           0
month                         12
day                            1
hour                           8
minu                           0
weekday                        3
Name: 320, dtype: object
date time    2011-12-01 08:15:00
Free                           0
month                         12
day                            1
hour                           8
minu                          15
weekday                        3
Name: 321, dtype: object
date time    2011-12-01 08:30:00
Free                           0
month                         12
day                            1
hour                           8
minu                          30
weekday                        3
Name: 322, dtype: object
date time    2011-12-01 08:45:00
Free                           0
month                         12
day                            1
hour                           8
minu                          45
weekday                        3
Name: 323, dtype: object

Name: 379, dtype: object
date time    2011-12-01 23:00:00
Free                           1
month                         12
day                            1
hour                          23
minu                           0
weekday                        3
Name: 380, dtype: object
date time    2011-12-01 23:15:00
Free                           1
month                         12
day                            1
hour                          23
minu                          15
weekday                        3
Name: 381, dtype: object
date time    2011-12-01 23:30:00
Free                           1
month                         12
day                            1
hour                          23
minu                          30
weekday                        3
Name: 382, dtype: object
date time    2011-12-01 23:45:00
Free                           1
month                         12
day                            1
hour                          23
minu                          45
weekday                        3
Name: 383, dtype: object
date time    2011-12-02 00:00:00
Free                           1
month                         12
day                            2
hour                           0
minu                           0
weekday                        4
Name: 384, dtype: object
date time    2011-12-02 00:15:00
Free                           1
month                         12
day                            2
hour                           0
minu                          15
weekday                        4
Name: 385, dtype: object
date time    2011-12-02 00:30:00
Free                           1
month                         12
day                            2
hour                           0
minu                          30
weekday                        4
Name: 386, dtype: object
date time    2011-12-02 00:45:00
Free                           1
month                         12
day                            2
hour                           0
minu                          45
weekday                        4
Name: 387, dtype: object
date time    2011-12-02 01:00:00
Free                           1
month                         12
day                            2
hour                           1
minu                           0
weekday                        4
Name: 388, dtype: object
date time    2011-12-02 01:15:00
Free                           1
month                         12
day                            2
hour                           1
minu                          15
weekday                        4
Name: 389, dtype: object
date time    2011-12-02 01:30:00
Free                           1
month                         12
day                            2
hour                           1
minu                          30
weekday                        4
Name: 390, dtype: object
date time    2011-12-02 01:45:00
Free                           1
month                         12
day                            2
hour                           1
minu                          45
weekday                        4
Name: 391, dtype: object
date time    2011-12-02 02:00:00
Free                           1
month                         12
day                            2
hour                           2
minu                           0
weekday                        4
Name: 392, dtype: object
date time    2011-12-02 02:15:00
Free                           0
month                         12
day                            2
hour                           2
minu                          15
weekday                        4
Name: 393, dtype: object
date time    2011-12-02 02:30:00
Free                           0
month                         12
day                            2
hour                           2
minu                          30
weekday                        4
Name: 394, dtype: object
date time    2011-12-02 02:45:00
Free                           0
month                         12
day                            2
hour                           2
minu                          45
weekday                        4
Name: 395, dtype: object
date time    2011-12-02 03:00:00
Free                           0
month                         12
day                            2
hour                           3
minu                           0
weekday                        4
Name: 396, dtype: object
date time    2011-12-02 03:15:00
Free                           0
month                         12
day                            2
hour                           3
minu                          15
weekday                        4
Name: 397, dtype: object
date time    2011-12-02 03:30:00
Free                           0
month                         12
day                            2
hour                           3
minu                          30
weekday                        4
Name: 398, dtype: object
date time    2011-12-02 03:45:00
Free                           0
month                         12
day                            2
hour                           3
minu                          45
weekday                        4
Name: 399, dtype: object
date time    2011-12-02 04:00:00
Free                           0
month                         12
day                            2
hour                           4
minu                           0
weekday                        4
Name: 400, dtype: object
date time    2011-12-02 04:15:00
Free                           0
month                         12
day                            2
hour                           4
minu                          15
weekday                        4
Name: 401, dtype: object
date time    2011-12-02 04:30:00
Free                           0
month                         12
day                            2
hour                           4
minu                          30
weekday                        4
Name: 402, dtype: object
date time    2011-12-02 04:45:00
Free                           0
month                         12
day                            2
hour                           4
minu                          45
weekday                        4
Name: 403, dtype: object
date time    2011-12-02 05:00:00
Free                           0
month                         12
day                            2
hour                           5
minu                           0
weekday                        4
Name: 404, dtype: object
date time    2011-12-02 05:15:00
Free                           0
month                         12
day                            2
hour                           5
minu                          15
weekday                        4
Name: 405, dtype: object
date time    2011-12-02 05:30:00
Free                           0
month                         12
day                            2
hour                           5
minu                          30
weekday                        4
Name: 406, dtype: object
date time    2011-12-02 05:45:00
Free                           0
month                         12
day                            2
hour                           5
minu                          45
weekday                        4
Name: 407, dtype: object
date time    2011-12-02 06:00:00
Free                           0
month                         12
day                            2
hour                           6
minu                           0
weekday                        4
Name: 408, dtype: object
date time    2011-12-02 06:15:00
Free                           0
month                         12
day                            2
hour                           6
minu                          15
weekday                        4
Name: 409, dtype: object
date time    2011-12-02 06:30:00
Free                           0
month                         12
day                            2
hour                           6
minu                          30
weekday                        4
Name: 410, dtype: object
date time    2011-12-02 06:45:00
Free                           0
month                         12
day                            2
hour                           6
minu                          45
weekday                        4
Name: 411, dtype: object
date time    2011-12-02 07:00:00
Free                           0
month                         12
day                            2
hour                           7
minu                           0
weekday                        4
Name: 412, dtype: object
date time    2011-12-02 07:15:00
Free                           0
month                         12
day                            2
hour                           7
minu                          15
weekday                        4
Name: 413, dtype: object
date time    2011-12-02 07:30:00
Free                           0
month                         12
day                            2
hour                           7
minu                          30
weekday                        4
Name: 414, dtype: object
date time    2011-12-02 07:45:00
Free                           0
month                         12
day                            2
hour                           7
minu                          45
weekday                        4
Name: 415, dtype: object
date time    2011-12-02 08:00:00
Free                           0
month                         12
day                            2
hour                           8
minu                           0
weekday                        4
Name: 416, dtype: object
date time    2011-12-02 08:15:00
Free                           0
month                         12
day                            2
hour                           8
minu                          15
weekday                        4
Name: 417, dtype: object
date time    2011-12-02 08:30:00
Free                           0
month                         12
day                            2
hour                           8
minu                          30
weekday                        4
Name: 418, dtype: object
date time    2011-12-02 08:45:00
Free                           0
month                         12
day                            2
hour                           8
minu                          45
weekday                        4
Name: 419, dtype: object
date time    2011-12-02 09:00:00
Free                           0
month                         12
day                            2
hour                           9
minu                           0
weekday                        4
Name: 420, dtype: object
date time    2011-12-02 09:15:00
Free                           0
month                         12
day                            2
hour                           9
minu                          15
weekday                        4
Name: 421, dtype: object
date time    2011-12-02 09:30:00
Free                           0
month                         12
day                            2
hour                           9
minu                          30
weekday                        4
Name: 422, dtype: object
date time    2011-12-02 09:45:00
Free                           0
month                         12
day                            2
hour                           9
minu                          45
weekday                        4
Name: 423, dtype: object
date time    2011-12-02 10:00:00
Free                           0
month                         12
day                            2
hour                          10
minu                           0
weekday                        4
Name: 424, dtype: object
date time    2011-12-02 10:15:00
Free                           0
month                         12
day                            2
hour                          10
minu                          15
weekday                        4
Name: 425, dtype: object
date time    2011-12-02 10:30:00
Free                           0
month                         12
day                            2
hour                          10
minu                          30
weekday                        4
Name: 426, dtype: object
date time    2011-12-02 10:45:00
Free                           0
month                         12
day                            2
hour                          10
minu                          45
weekday                        4
Name: 427, dtype: object
date time    2011-12-02 11:00:00
Free                           0
month                         12
day                            2
hour                          11
minu                           0
weekday                        4
Name: 428, dtype: object
date time    2011-12-02 11:15:00
Free                           0
month                         12
day                            2
hour                          11
minu                          15
weekday                        4
Name: 429, dtype: object
date time    2011-12-02 11:30:00
Free                           0
month                         12
day                            2
hour                          11
minu                          30
weekday                        4
Name: 430, dtype: object
date time    2011-12-02 11:45:00
Free                           0
month                         12
day                            2
hour                          11
minu                          45
weekday                        4
Name: 431, dtype: object
date time    2011-12-02 12:00:00
Free                           0
month                         12
day                            2
hour                          12
minu                           0
weekday                        4
Name: 432, dtype: object
date time    2011-12-02 12:15:00
Free                           0
month                         12
day                            2
hour                          12
minu                          15
weekday                        4
Name: 433, dtype: object
date time    2011-12-02 12:30:00
Free                           1
month                         12
day                            2
hour                          12
minu                          30
weekday                        4
Name: 434, dtype: object
date time    2011-12-02 12:45:00
Free                           1
month                         12
day                            2
hour                          12
minu                          45
weekday                        4
Name: 435, dtype: object
date time    2011-12-02 13:00:00
Free                           1
month                         12
day                            2
hour                          13
minu                           0
weekday                        4
Name: 436, dtype: object
date time    2011-12-02 13:15:00
Free                           1
month                         12
day                            2
hour                          13
minu                          15
weekday                        4
Name: 437, dtype: object
date time    2011-12-02 13:30:00
Free                           1
month                         12
day                            2
hour                          13
minu                          30
weekday                        4
Name: 438, dtype: object
date time    2011-12-02 13:45:00
Free                           1
month                         12
day                            2
hour                          13
minu                          45
weekday                        4
Name: 439, dtype: object
date time    2011-12-02 14:00:00
Free                           1
month                         12
day                            2
hour                          14
minu                           0
weekday                        4
Name: 440, dtype: object
date time    2011-12-02 14:15:00
Free                           1
month                         12
day                            2
hour                          14
minu                          15
weekday                        4
Name: 441, dtype: object
date time    2011-12-02 14:30:00
Free                           1
month                         12
day                            2
hour                          14
minu                          30
weekday                        4
Name: 442, dtype: object
date time    2011-12-02 14:45:00
Free                           1
month                         12
day                            2
hour                          14
minu                          45
weekday                        4
Name: 443, dtype: object
date time    2011-12-02 15:00:00
Free                           0
month                         12
day                            2
hour                          15
minu                           0
weekday                        4
Name: 444, dtype: object
date time    2011-12-02 15:15:00
Free                           1
month                         12
day                            2
hour                          15
minu                          15
weekday                        4
Name: 445, dtype: object
date time    2011-12-02 15:30:00
Free                           1
month                         12
day                            2
hour                          15
minu                          30
weekday                        4
Name: 446, dtype: object
date time    2011-12-02 15:45:00
Free                           1
month                         12
day                            2
hour                          15
minu                          45
weekday                        4
Name: 447, dtype: object
date time    2011-12-02 16:00:00
Free                           1
month                         12
day                            2
hour                          16
minu                           0
weekday                        4
Name: 448, dtype: object
date time    2011-12-02 16:15:00
Free                           1
month                         12
day                            2
hour                          16
minu                          15
weekday                        4
Name: 449, dtype: object
date time    2011-12-02 16:30:00
Free                           1
month                         12
day                            2
hour                          16
minu                          30
weekday                        4
Name: 450, dtype: object
date time    2011-12-02 16:45:00
Free                           1
month                         12
day                            2
hour                          16
minu                          45
weekday                        4
Name: 451, dtype: object
date time    2011-12-02 17:00:00
Free                           1
month                         12
day                            2
hour                          17
minu                           0
weekday                        4
Name: 452, dtype: object
date time    2011-12-02 17:15:00
Free                           1
month                         12
day                            2
hour                          17
minu                          15
weekday                        4
Name: 453, dtype: object
date time    2011-12-02 17:30:00
Free                           1
month                         12
day                            2
hour                          17
minu                          30
weekday                        4
Name: 454, dtype: object
date time    2011-12-02 17:45:00
Free                           1
month                         12
day                            2
hour                          17
minu                          45
weekday                        4
Name: 455, dtype: object
date time    2011-12-02 18:00:00
Free                           1
month                         12
day                            2
hour                          18
minu                           0
weekday                        4
Name: 456, dtype: object
date time    2011-12-02 18:15:00
Free                           1
month                         12
day                            2
hour                          18
minu                          15
weekday                        4
Name: 457, dtype: object

Name: 494, dtype: object
date time    2011-12-03 03:45:00
Free                           0
month                         12
day                            3
hour                           3
minu                          45
weekday                        5
Name: 495, dtype: object
date time    2011-12-03 04:00:00
Free                           0
month                         12
day                            3
hour                           4
minu                           0
weekday                        5
Name: 496, dtype: object
date time    2011-12-03 04:15:00
Free                           0
month                         12
day                            3
hour                           4
minu                          15
weekday                        5
Name: 497, dtype: object
date time    2011-12-03 04:30:00
Free                           0
month                         12
day                            3
hour                           4
minu                          30
weekday                        5
Name: 498, dtype: object
date time    2011-12-03 04:45:00
Free                           0
month                         12
day                            3
hour                           4
minu                          45
weekday                        5
Name: 499, dtype: object
date time    2011-12-03 05:00:00
Free                           0
month                         12
day                            3
hour                           5
minu                           0
weekday                        5
Name: 500, dtype: object
date time    2011-12-03 05:15:00
Free                           0
month                         12
day                            3
hour                           5
minu                          15
weekday                        5
Name: 501, dtype: object
date time    2011-12-03 05:30:00
Free                           0
month                         12
day                            3
hour                           5
minu                          30
weekday                        5
Name: 502, dtype: object
date time    2011-12-03 05:45:00
Free                           0
month                         12
day                            3
hour                           5
minu                          45
weekday                        5
Name: 503, dtype: object
date time    2011-12-03 06:00:00
Free                           0
month                         12
day                            3
hour                           6
minu                           0
weekday                        5
Name: 504, dtype: object
date time    2011-12-03 06:15:00
Free                           0
month                         12
day                            3
hour                           6
minu                          15
weekday                        5
Name: 505, dtype: object
date time    2011-12-03 06:30:00
Free                           0
month                         12
day                            3
hour                           6
minu                          30
weekday                        5
Name: 506, dtype: object
date time    2011-12-03 06:45:00
Free                           0
month                         12
day                            3
hour                           6
minu                          45
weekday                        5
Name: 507, dtype: object
date time    2011-12-03 07:00:00
Free                           0
month                         12
day                            3
hour                           7
minu                           0
weekday                        5
Name: 508, dtype: object
date time    2011-12-03 07:15:00
Free                           0
month                         12
day                            3
hour                           7
minu                          15
weekday                        5
Name: 509, dtype: object
date time    2011-12-03 07:30:00
Free                           0
month                         12
day                            3
hour                           7
minu                          30
weekday                        5
Name: 510, dtype: object
date time    2011-12-03 07:45:00
Free                           0
month                         12
day                            3
hour                           7
minu                          45
weekday                        5
Name: 511, dtype: object
date time    2011-12-03 08:00:00
Free                           0
month                         12
day                            3
hour                           8
minu                           0
weekday                        5
Name: 512, dtype: object
date time    2011-12-03 08:15:00
Free                           0
month                         12
day                            3
hour                           8
minu                          15
weekday                        5
Name: 513, dtype: object
date time    2011-12-03 08:30:00
Free                           0
month                         12
day                            3
hour                           8
minu                          30
weekday                        5
Name: 514, dtype: object
date time    2011-12-03 08:45:00
Free                           0
month                         12
day                            3
hour                           8
minu                          45
weekday                        5
Name: 515, dtype: object
date time    2011-12-03 09:00:00
Free                           0
month                         12
day                            3
hour                           9
minu                           0
weekday                        5
Name: 516, dtype: object
date time    2011-12-03 09:15:00
Free                           0
month                         12
day                            3
hour                           9
minu                          15
weekday                        5
Name: 517, dtype: object
date time    2011-12-03 09:30:00
Free                           0
month                         12
day                            3
hour                           9
minu                          30
weekday                        5
Name: 518, dtype: object
date time    2011-12-03 09:45:00
Free                           0
month                         12
day                            3
hour                           9
minu                          45
weekday                        5
Name: 519, dtype: object
date time    2011-12-03 10:00:00
Free                           0
month                         12
day                            3
hour                          10
minu                           0
weekday                        5
Name: 520, dtype: object
date time    2011-12-03 10:15:00
Free                           0
month                         12
day                            3
hour                          10
minu                          15
weekday                        5
Name: 521, dtype: object
date time    2011-12-03 10:30:00
Free                           0
month                         12
day                            3
hour                          10
minu                          30
weekday                        5
Name: 522, dtype: object
date time    2011-12-03 10:45:00
Free                           0
month                         12
day                            3
hour                          10
minu                          45
weekday                        5
Name: 523, dtype: object
date time    2011-12-03 11:00:00
Free                           0
month                         12
day                            3
hour                          11
minu                           0
weekday                        5
Name: 524, dtype: object
date time    2011-12-03 11:15:00
Free                           0
month                         12
day                            3
hour                          11
minu                          15
weekday                        5
Name: 525, dtype: object
date time    2011-12-03 11:30:00
Free                           0
month                         12
day                            3
hour                          11
minu                          30
weekday                        5
Name: 526, dtype: object
date time    2011-12-03 11:45:00
Free                           0
month                         12
day                            3
hour                          11
minu                          45
weekday                        5
Name: 527, dtype: object
date time    2011-12-03 12:00:00
Free                           0
month                         12
day                            3
hour                          12
minu                           0
weekday                        5
Name: 528, dtype: object
date time    2011-12-03 12:15:00
Free                           1
month                         12
day                            3
hour                          12
minu                          15
weekday                        5
Name: 529, dtype: object
date time    2011-12-03 12:30:00
Free                           1
month                         12
day                            3
hour                          12
minu                          30
weekday                        5
Name: 530, dtype: object
date time    2011-12-03 12:45:00
Free                           1
month                         12
day                            3
hour                          12
minu                          45
weekday                        5
Name: 531, dtype: object
date time    2011-12-03 13:00:00
Free                           1
month                         12
day                            3
hour                          13
minu                           0
weekday                        5
Name: 532, dtype: object
date time    2011-12-03 13:15:00
Free                           1
month                         12
day                            3
hour                          13
minu                          15
weekday                        5
Name: 533, dtype: object
date time    2011-12-03 13:30:00
Free                           1
month                         12
day                            3
hour                          13
minu                          30
weekday                        5
Name: 534, dtype: object
date time    2011-12-03 13:45:00
Free                           1
month                         12
day                            3
hour                          13
minu                          45
weekday                        5
Name: 535, dtype: object
date time    2011-12-03 14:00:00
Free                           1
month                         12
day                            3
hour                          14
minu                           0
weekday                        5
Name: 536, dtype: object
date time    2011-12-03 14:15:00
Free                           0
month                         12
day                            3
hour                          14
minu                          15
weekday                        5
Name: 537, dtype: object
date time    2011-12-03 14:30:00
Free                           0
month                         12
day                            3
hour                          14
minu                          30
weekday                        5
Name: 538, dtype: object
date time    2011-12-03 14:45:00
Free                           0
month                         12
day                            3
hour                          14
minu                          45
weekday                        5
Name: 539, dtype: object
date time    2011-12-03 15:00:00
Free                           0
month                         12
day                            3
hour                          15
minu                           0
weekday                        5
Name: 540, dtype: object
date time    2011-12-03 15:15:00
Free                           0
month                         12
day                            3
hour                          15
minu                          15
weekday                        5
Name: 541, dtype: object
date time    2011-12-03 15:30:00
Free                           0
month                         12
day                            3
hour                          15
minu                          30
weekday                        5
Name: 542, dtype: object
date time    2011-12-03 15:45:00
Free                           0
month                         12
day                            3
hour                          15
minu                          45
weekday                        5
Name: 543, dtype: object
date time    2011-12-03 16:00:00
Free                           0
month                         12
day                            3
hour                          16
minu                           0
weekday                        5
Name: 544, dtype: object
date time    2011-12-03 16:15:00
Free                           0
month                         12
day                            3
hour                          16
minu                          15
weekday                        5
Name: 545, dtype: object
date time    2011-12-03 16:30:00
Free                           0
month                         12
day                            3
hour                          16
minu                          30
weekday                        5
Name: 546, dtype: object
date time    2011-12-03 16:45:00
Free                           0
month                         12
day                            3
hour                          16
minu                          45
weekday                        5
Name: 547, dtype: object
date time    2011-12-03 17:00:00
Free                           0
month                         12
day                            3
hour                          17
minu                           0
weekday                        5
Name: 548, dtype: object
date time    2011-12-03 17:15:00
Free                           0
month                         12
day                            3
hour                          17
minu                          15
weekday                        5
Name: 549, dtype: object
date time    2011-12-03 17:30:00
Free                           0
month                         12
day                            3
hour                          17
minu                          30
weekday                        5
Name: 550, dtype: object
date time    2011-12-03 17:45:00
Free                           1
month                         12
day                            3
hour                          17
minu                          45
weekday                        5
Name: 551, dtype: object
date time    2011-12-03 18:00:00
Free                           1
month                         12
day                            3
hour                          18
minu                           0
weekday                        5
Name: 552, dtype: object
date time    2011-12-03 18:15:00
Free                           1
month                         12
day                            3
hour                          18
minu                          15
weekday                        5
Name: 553, dtype: object
date time    2011-12-03 18:30:00
Free                           1
month                         12
day                            3
hour                          18
minu                          30
weekday                        5
Name: 554, dtype: object
date time    2011-12-03 18:45:00
Free                           1
month                         12
day                            3
hour                          18
minu                          45
weekday                        5
Name: 555, dtype: object
date time    2011-12-03 19:00:00
Free                           1
month                         12
day                            3
hour                          19
minu                           0
weekday                        5
Name: 556, dtype: object
date time    2011-12-03 19:15:00
Free                           1
month                         12
day                            3
hour                          19
minu                          15
weekday                        5
Name: 557, dtype: object
date time    2011-12-03 19:30:00
Free                           1
month                         12
day                            3
hour                          19
minu                          30
weekday                        5
Name: 558, dtype: object
date time    2011-12-03 19:45:00
Free                           1
month                         12
day                            3
hour                          19
minu                          45
weekday                        5
Name: 559, dtype: object
date time    2011-12-03 20:00:00
Free                           1
month                         12
day                            3
hour                          20
minu                           0
weekday                        5
Name: 560, dtype: object
date time    2011-12-03 20:15:00
Free                           1
month                         12
day                            3
hour                          20
minu                          15
weekday                        5
Name: 561, dtype: object
date time    2011-12-03 20:30:00
Free                           1
month                         12
day                            3
hour                          20
minu                          30
weekday                        5
Name: 562, dtype: object
date time    2011-12-03 20:45:00
Free                           1
month                         12
day                            3
hour                          20
minu                          45
weekday                        5
Name: 563, dtype: object
date time    2011-12-03 21:00:00
Free                           1
month                         12
day                            3
hour                          21
minu                           0
weekday                        5
Name: 564, dtype: object
date time    2011-12-03 21:15:00
Free                           1
month                         12
day                            3
hour                          21
minu                          15
weekday                        5
Name: 565, dtype: object
date time    2011-12-03 21:30:00
Free                           1
month                         12
day                            3
hour                          21
minu                          30
weekday                        5
Name: 566, dtype: object
date time    2011-12-03 21:45:00
Free                           1
month                         12
day                            3
hour                          21
minu                          45
weekday                        5
Name: 567, dtype: object
date time    2011-12-03 22:00:00
Free                           1
month                         12
day                            3
hour                          22
minu                           0
weekday                        5
Name: 568, dtype: object
date time    2011-12-03 22:15:00
Free                           1
month                         12
day                            3
hour                          22
minu                          15
weekday                        5
Name: 569, dtype: object
date time    2011-12-03 22:30:00
Free                           1
month                         12
day                            3
hour                          22
minu                          30
weekday                        5
Name: 570, dtype: object
date time    2011-12-03 22:45:00
Free                           1
month                         12
day                            3
hour                          22
minu                          45
weekday                        5
Name: 571, dtype: object
date time    2011-12-03 23:00:00
Free                           1
month                         12
day                            3
hour                          23
minu                           0
weekday                        5
Name: 572, dtype: object

Name: 581, dtype: object
date time    2011-12-04 01:30:00
Free                           1
month                         12
day                            4
hour                           1
minu                          30
weekday                        6
Name: 582, dtype: object
date time    2011-12-04 01:45:00
Free                           1
month                         12
day                            4
hour                           1
minu                          45
weekday                        6
Name: 583, dtype: object
date time    2011-12-04 02:00:00
Free                           1
month                         12
day                            4
hour                           2
minu                           0
weekday                        6
Name: 584, dtype: object
date time    2011-12-04 02:15:00
Free                           1
month                         12
day                            4
hour                           2
minu                          15
weekday                        6
Name: 585, dtype: object
date time    2011-12-04 02:30:00
Free                           1
month                         12
day                            4
hour                           2
minu                          30
weekday                        6
Name: 586, dtype: object
date time    2011-12-04 02:45:00
Free                           1
month                         12
day                            4
hour                           2
minu                          45
weekday                        6
Name: 587, dtype: object
date time    2011-12-04 03:00:00
Free                           1
month                         12
day                            4
hour                           3
minu                           0
weekday                        6
Name: 588, dtype: object
date time    2011-12-04 03:15:00
Free                           1
month                         12
day                            4
hour                           3
minu                          15
weekday                        6
Name: 589, dtype: object
date time    2011-12-04 03:30:00
Free                           0
month                         12
day                            4
hour                           3
minu                          30
weekday                        6
Name: 590, dtype: object
date time    2011-12-04 03:45:00
Free                           0
month                         12
day                            4
hour                           3
minu                          45
weekday                        6
Name: 591, dtype: object
date time    2011-12-04 04:00:00
Free                           0
month                         12
day                            4
hour                           4
minu                           0
weekday                        6
Name: 592, dtype: object
date time    2011-12-04 04:15:00
Free                           0
month                         12
day                            4
hour                           4
minu                          15
weekday                        6
Name: 593, dtype: object
date time    2011-12-04 04:30:00
Free                           0
month                         12
day                            4
hour                           4
minu                          30
weekday                        6
Name: 594, dtype: object
date time    2011-12-04 04:45:00
Free                           0
month                         12
day                            4
hour                           4
minu                          45
weekday                        6
Name: 595, dtype: object
date time    2011-12-04 05:00:00
Free                           0
month                         12
day                            4
hour                           5
minu                           0
weekday                        6
Name: 596, dtype: object
date time    2011-12-04 05:15:00
Free                           0
month                         12
day                            4
hour                           5
minu                          15
weekday                        6
Name: 597, dtype: object
date time    2011-12-04 05:30:00
Free                           0
month                         12
day                            4
hour                           5
minu                          30
weekday                        6
Name: 598, dtype: object
date time    2011-12-04 05:45:00
Free                           0
month                         12
day                            4
hour                           5
minu                          45
weekday                        6
Name: 599, dtype: object
date time    2011-12-04 06:00:00
Free                           0
month                         12
day                            4
hour                           6
minu                           0
weekday                        6
Name: 600, dtype: object
date time    2011-12-04 06:15:00
Free                           0
month                         12
day                            4
hour                           6
minu                          15
weekday                        6
Name: 601, dtype: object
date time    2011-12-04 06:30:00
Free                           0
month                         12
day                            4
hour                           6
minu                          30
weekday                        6
Name: 602, dtype: object
date time    2011-12-04 06:45:00
Free                           0
month                         12
day                            4
hour                           6
minu                          45
weekday                        6
Name: 603, dtype: object
date time    2011-12-04 07:00:00
Free                           0
month                         12
day                            4
hour                           7
minu                           0
weekday                        6
Name: 604, dtype: object
date time    2011-12-04 07:15:00
Free                           0
month                         12
day                            4
hour                           7
minu                          15
weekday                        6
Name: 605, dtype: object
date time    2011-12-04 07:30:00
Free                           0
month                         12
day                            4
hour                           7
minu                          30
weekday                        6
Name: 606, dtype: object
date time    2011-12-04 07:45:00
Free                           0
month                         12
day                            4
hour                           7
minu                          45
weekday                        6
Name: 607, dtype: object
date time    2011-12-04 08:00:00
Free                           0
month                         12
day                            4
hour                           8
minu                           0
weekday                        6
Name: 608, dtype: object
date time    2011-12-04 08:15:00
Free                           0
month                         12
day                            4
hour                           8
minu                          15
weekday                        6
Name: 609, dtype: object
date time    2011-12-04 08:30:00
Free                           0
month                         12
day                            4
hour                           8
minu                          30
weekday                        6
Name: 610, dtype: object
date time    2011-12-04 08:45:00
Free                           0
month                         12
day                            4
hour                           8
minu                          45
weekday                        6
Name: 611, dtype: object
date time    2011-12-04 09:00:00
Free                           0
month                         12
day                            4
hour                           9
minu                           0
weekday                        6
Name: 612, dtype: object
date time    2011-12-04 09:15:00
Free                           0
month                         12
day                            4
hour                           9
minu                          15
weekday                        6
Name: 613, dtype: object
date time    2011-12-04 09:30:00
Free                           0
month                         12
day                            4
hour                           9
minu                          30
weekday                        6
Name: 614, dtype: object
date time    2011-12-04 09:45:00
Free                           0
month                         12
day                            4
hour                           9
minu                          45
weekday                        6
Name: 615, dtype: object
date time    2011-12-04 10:00:00
Free                           0
month                         12
day                            4
hour                          10
minu                           0
weekday                        6
Name: 616, dtype: object
date time    2011-12-04 10:15:00
Free                           0
month                         12
day                            4
hour                          10
minu                          15
weekday                        6
Name: 617, dtype: object
date time    2011-12-04 10:30:00
Free                           0
month                         12
day                            4
hour                          10
minu                          30
weekday                        6
Name: 618, dtype: object
date time    2011-12-04 10:45:00
Free                           0
month                         12
day                            4
hour                          10
minu                          45
weekday                        6
Name: 619, dtype: object
date time    2011-12-04 11:00:00
Free                           0
month                         12
day                            4
hour                          11
minu                           0
weekday                        6
Name: 620, dtype: object
date time    2011-12-04 11:15:00
Free                           0
month                         12
day                            4
hour                          11
minu                          15
weekday                        6
Name: 621, dtype: object
date time    2011-12-04 11:30:00
Free                           0
month                         12
day                            4
hour                          11
minu                          30
weekday                        6
Name: 622, dtype: object
date time    2011-12-04 11:45:00
Free                           0
month                         12
day                            4
hour                          11
minu                          45
weekday                        6
Name: 623, dtype: object
date time    2011-12-04 12:00:00
Free                           0
month                         12
day                            4
hour                          12
minu                           0
weekday                        6
Name: 624, dtype: object
date time    2011-12-04 12:15:00
Free                           0
month                         12
day                            4
hour                          12
minu                          15
weekday                        6
Name: 625, dtype: object
date time    2011-12-04 12:30:00
Free                           0
month                         12
day                            4
hour                          12
minu                          30
weekday                        6
Name: 626, dtype: object
date time    2011-12-04 12:45:00
Free                           0
month                         12
day                            4
hour                          12
minu                          45
weekday                        6
Name: 627, dtype: object
date time    2011-12-04 13:00:00
Free                           1
month                         12
day                            4
hour                          13
minu                           0
weekday                        6
Name: 628, dtype: object
date time    2011-12-04 13:15:00
Free                           1
month                         12
day                            4
hour                          13
minu                          15
weekday                        6
Name: 629, dtype: object
date time    2011-12-04 13:30:00
Free                           1
month                         12
day                            4
hour                          13
minu                          30
weekday                        6
Name: 630, dtype: object
date time    2011-12-04 13:45:00
Free                           1
month                         12
day                            4
hour                          13
minu                          45
weekday                        6
Name: 631, dtype: object
date time    2011-12-04 14:00:00
Free                           0
month                         12
day                            4
hour                          14
minu                           0
weekday                        6
Name: 632, dtype: object
date time    2011-12-04 14:15:00
Free                           0
month                         12
day                            4
hour                          14
minu                          15
weekday                        6
Name: 633, dtype: object
date time    2011-12-04 14:30:00
Free                           0
month                         12
day                            4
hour                          14
minu                          30
weekday                        6
Name: 634, dtype: object
date time    2011-12-04 14:45:00
Free                           0
month                         12
day                            4
hour                          14
minu                          45
weekday                        6
Name: 635, dtype: object
date time    2011-12-04 15:00:00
Free                           0
month                         12
day                            4
hour                          15
minu                           0
weekday                        6
Name: 636, dtype: object
date time    2011-12-04 15:15:00
Free                           0
month                         12
day                            4
hour                          15
minu                          15
weekday                        6
Name: 637, dtype: object
date time    2011-12-04 15:30:00
Free                           0
month                         12
day                            4
hour                          15
minu                          30
weekday                        6
Name: 638, dtype: object
date time    2011-12-04 15:45:00
Free                           0
month                         12
day                            4
hour                          15
minu                          45
weekday                        6
Name: 639, dtype: object
date time    2011-12-04 16:00:00
Free                           0
month                         12
day                            4
hour                          16
minu                           0
weekday                        6
Name: 640, dtype: object
date time    2011-12-04 16:15:00
Free                           0
month                         12
day                            4
hour                          16
minu                          15
weekday                        6
Name: 641, dtype: object
date time    2011-12-04 16:30:00
Free                           1
month                         12
day                            4
hour                          16
minu                          30
weekday                        6
Name: 642, dtype: object
date time    2011-12-04 16:45:00
Free                           1
month                         12
day                            4
hour                          16
minu                          45
weekday                        6
Name: 643, dtype: object
date time    2011-12-04 17:00:00
Free                           1
month                         12
day                            4
hour                          17
minu                           0
weekday                        6
Name: 644, dtype: object
date time    2011-12-04 17:15:00
Free                           1
month                         12
day                            4
hour                          17
minu                          15
weekday                        6
Name: 645, dtype: object
date time    2011-12-04 17:30:00
Free                           1
month                         12
day                            4
hour                          17
minu                          30
weekday                        6
Name: 646, dtype: object
date time    2011-12-04 17:45:00
Free                           0
month                         12
day                            4
hour                          17
minu                          45
weekday                        6
Name: 647, dtype: object
date time    2011-12-04 18:00:00
Free                           1
month                         12
day                            4
hour                          18
minu                           0
weekday                        6
Name: 648, dtype: object
date time    2011-12-04 18:15:00
Free                           1
month                         12
day                            4
hour                          18
minu                          15
weekday                        6
Name: 649, dtype: object
date time    2011-12-04 18:30:00
Free                           1
month                         12
day                            4
hour                          18
minu                          30
weekday                        6
Name: 650, dtype: object
date time    2011-12-04 18:45:00
Free                           1
month                         12
day                            4
hour                          18
minu                          45
weekday                        6
Name: 651, dtype: object
date time    2011-12-04 19:00:00
Free                           1
month                         12
day                            4
hour                          19
minu                           0
weekday                        6
Name: 652, dtype: object
date time    2011-12-04 19:15:00
Free                           1
month                         12
day                            4
hour                          19
minu                          15
weekday                        6
Name: 653, dtype: object
date time    2011-12-04 19:30:00
Free                           1
month                         12
day                            4
hour                          19
minu                          30
weekday                        6
Name: 654, dtype: object
date time    2011-12-04 19:45:00
Free                           1
month                         12
day                            4
hour                          19
minu                          45
weekday                        6
Name: 655, dtype: object
date time    2011-12-04 20:00:00
Free                           1
month                         12
day                            4
hour                          20
minu                           0
weekday                        6
Name: 656, dtype: object
date time    2011-12-04 20:15:00
Free                           1
month                         12
day                            4
hour                          20
minu                          15
weekday                        6
Name: 657, dtype: object
date time    2011-12-04 20:30:00
Free                           1
month                         12
day                            4
hour                          20
minu                          30
weekday                        6
Name: 658, dtype: object
date time    2011-12-04 20:45:00
Free                           1
month                         12
day                            4
hour                          20
minu                          45
weekday                        6
Name: 659, dtype: object

Name: 691, dtype: object
date time    2011-12-05 05:00:00
Free                           0
month                         12
day                            5
hour                           5
minu                           0
weekday                        0
Name: 692, dtype: object
date time    2011-12-05 05:15:00
Free                           0
month                         12
day                            5
hour                           5
minu                          15
weekday                        0
Name: 693, dtype: object
date time    2011-12-05 05:30:00
Free                           0
month                         12
day                            5
hour                           5
minu                          30
weekday                        0
Name: 694, dtype: object
date time    2011-12-05 05:45:00
Free                           0
month                         12
day                            5
hour                           5
minu                          45
weekday                        0
Name: 695, dtype: object
date time    2011-12-05 06:00:00
Free                           0
month                         12
day                            5
hour                           6
minu                           0
weekday                        0
Name: 696, dtype: object
date time    2011-12-05 06:15:00
Free                           0
month                         12
day                            5
hour                           6
minu                          15
weekday                        0
Name: 697, dtype: object
date time    2011-12-05 06:30:00
Free                           0
month                         12
day                            5
hour                           6
minu                          30
weekday                        0
Name: 698, dtype: object
date time    2011-12-05 06:45:00
Free                           0
month                         12
day                            5
hour                           6
minu                          45
weekday                        0
Name: 699, dtype: object
date time    2011-12-05 07:00:00
Free                           0
month                         12
day                            5
hour                           7
minu                           0
weekday                        0
Name: 700, dtype: object
date time    2011-12-05 07:15:00
Free                           0
month                         12
day                            5
hour                           7
minu                          15
weekday                        0
Name: 701, dtype: object
date time    2011-12-05 07:30:00
Free                           0
month                         12
day                            5
hour                           7
minu                          30
weekday                        0
Name: 702, dtype: object
date time    2011-12-05 07:45:00
Free                           0
month                         12
day                            5
hour                           7
minu                          45
weekday                        0
Name: 703, dtype: object
date time    2011-12-05 08:00:00
Free                           0
month                         12
day                            5
hour                           8
minu                           0
weekday                        0
Name: 704, dtype: object
date time    2011-12-05 08:15:00
Free                           0
month                         12
day                            5
hour                           8
minu                          15
weekday                        0
Name: 705, dtype: object
date time    2011-12-05 08:30:00
Free                           0
month                         12
day                            5
hour                           8
minu                          30
weekday                        0
Name: 706, dtype: object
date time    2011-12-05 08:45:00
Free                           0
month                         12
day                            5
hour                           8
minu                          45
weekday                        0
Name: 707, dtype: object
date time    2011-12-05 09:00:00
Free                           0
month                         12
day                            5
hour                           9
minu                           0
weekday                        0
Name: 708, dtype: object
date time    2011-12-05 09:15:00
Free                           0
month                         12
day                            5
hour                           9
minu                          15
weekday                        0
Name: 709, dtype: object
date time    2011-12-05 09:30:00
Free                           0
month                         12
day                            5
hour                           9
minu                          30
weekday                        0
Name: 710, dtype: object
date time    2011-12-05 09:45:00
Free                           0
month                         12
day                            5
hour                           9
minu                          45
weekday                        0
Name: 711, dtype: object
date time    2011-12-05 10:00:00
Free                           0
month                         12
day                            5
hour                          10
minu                           0
weekday                        0
Name: 712, dtype: object
date time    2011-12-05 10:15:00
Free                           0
month                         12
day                            5
hour                          10
minu                          15
weekday                        0
Name: 713, dtype: object
date time    2011-12-05 10:30:00
Free                           0
month                         12
day                            5
hour                          10
minu                          30
weekday                        0
Name: 714, dtype: object
date time    2011-12-05 10:45:00
Free                           0
month                         12
day                            5
hour                          10
minu                          45
weekday                        0
Name: 715, dtype: object
date time    2011-12-05 11:00:00
Free                           0
month                         12
day                            5
hour                          11
minu                           0
weekday                        0
Name: 716, dtype: object
date time    2011-12-05 11:15:00
Free                           0
month                         12
day                            5
hour                          11
minu                          15
weekday                        0
Name: 717, dtype: object
date time    2011-12-05 11:30:00
Free                           0
month                         12
day                            5
hour                          11
minu                          30
weekday                        0
Name: 718, dtype: object
date time    2011-12-05 11:45:00
Free                           0
month                         12
day                            5
hour                          11
minu                          45
weekday                        0
Name: 719, dtype: object
date time    2011-12-05 12:00:00
Free                           0
month                         12
day                            5
hour                          12
minu                           0
weekday                        0
Name: 720, dtype: object
date time    2011-12-05 12:15:00
Free                           0
month                         12
day                            5
hour                          12
minu                          15
weekday                        0
Name: 721, dtype: object
date time    2011-12-05 12:30:00
Free                           0
month                         12
day                            5
hour                          12
minu                          30
weekday                        0
Name: 722, dtype: object
date time    2011-12-05 12:45:00
Free                           0
month                         12
day                            5
hour                          12
minu                          45
weekday                        0
Name: 723, dtype: object
date time    2011-12-05 13:00:00
Free                           0
month                         12
day                            5
hour                          13
minu                           0
weekday                        0
Name: 724, dtype: object
date time    2011-12-05 13:15:00
Free                           0
month                         12
day                            5
hour                          13
minu                          15
weekday                        0
Name: 725, dtype: object
date time    2011-12-05 13:30:00
Free                           0
month                         12
day                            5
hour                          13
minu                          30
weekday                        0
Name: 726, dtype: object
date time    2011-12-05 13:45:00
Free                           1
month                         12
day                            5
hour                          13
minu                          45
weekday                        0
Name: 727, dtype: object
date time    2011-12-05 14:00:00
Free                           1
month                         12
day                            5
hour                          14
minu                           0
weekday                        0
Name: 728, dtype: object
date time    2011-12-05 14:15:00
Free                           1
month                         12
day                            5
hour                          14
minu                          15
weekday                        0
Name: 729, dtype: object
date time    2011-12-05 14:30:00
Free                           0
month                         12
day                            5
hour                          14
minu                          30
weekday                        0
Name: 730, dtype: object
date time    2011-12-05 14:45:00
Free                           0
month                         12
day                            5
hour                          14
minu                          45
weekday                        0
Name: 731, dtype: object
date time    2011-12-05 15:00:00
Free                           0
month                         12
day                            5
hour                          15
minu                           0
weekday                        0
Name: 732, dtype: object
date time    2011-12-05 15:15:00
Free                           0
month                         12
day                            5
hour                          15
minu                          15
weekday                        0
Name: 733, dtype: object
date time    2011-12-05 15:30:00
Free                           1
month                         12
day                            5
hour                          15
minu                          30
weekday                        0
Name: 734, dtype: object
date time    2011-12-05 15:45:00
Free                           1
month                         12
day                            5
hour                          15
minu                          45
weekday                        0
Name: 735, dtype: object
date time    2011-12-05 16:00:00
Free                           1
month                         12
day                            5
hour                          16
minu                           0
weekday                        0
Name: 736, dtype: object
date time    2011-12-05 16:15:00
Free                           0
month                         12
day                            5
hour                          16
minu                          15
weekday                        0
Name: 737, dtype: object
date time    2011-12-05 16:30:00
Free                           1
month                         12
day                            5
hour                          16
minu                          30
weekday                        0
Name: 738, dtype: object
date time    2011-12-05 16:45:00
Free                           1
month                         12
day                            5
hour                          16
minu                          45
weekday                        0
Name: 739, dtype: object
date time    2011-12-05 17:00:00
Free                           1
month                         12
day                            5
hour                          17
minu                           0
weekday                        0
Name: 740, dtype: object
date time    2011-12-05 17:15:00
Free                           0
month                         12
day                            5
hour                          17
minu                          15
weekday                        0
Name: 741, dtype: object
date time    2011-12-05 17:30:00
Free                           0
month                         12
day                            5
hour                          17
minu                          30
weekday                        0
Name: 742, dtype: object
date time    2011-12-05 17:45:00
Free                           0
month                         12
day                            5
hour                          17
minu                          45
weekday                        0
Name: 743, dtype: object
date time    2011-12-05 18:00:00
Free                           0
month                         12
day                            5
hour                          18
minu                           0
weekday                        0
Name: 744, dtype: object
date time    2011-12-05 18:15:00
Free                           0
month                         12
day                            5
hour                          18
minu                          15
weekday                        0
Name: 745, dtype: object
date time    2011-12-05 18:30:00
Free                           0
month                         12
day                            5
hour                          18
minu                          30
weekday                        0
Name: 746, dtype: object
date time    2011-12-05 18:45:00
Free                           0
month                         12
day                            5
hour                          18
minu                          45
weekday                        0
Name: 747, dtype: object
date time    2011-12-05 19:00:00
Free                           1
month                         12
day                            5
hour                          19
minu                           0
weekday                        0
Name: 748, dtype: object
date time    2011-12-05 19:15:00
Free                           1
month                         12
day                            5
hour                          19
minu                          15
weekday                        0
Name: 749, dtype: object
date time    2011-12-05 19:30:00
Free                           1
month                         12
day                            5
hour                          19
minu                          30
weekday                        0
Name: 750, dtype: object
date time    2011-12-05 19:45:00
Free                           1
month                         12
day                            5
hour                          19
minu                          45
weekday                        0
Name: 751, dtype: object
date time    2011-12-05 20:00:00
Free                           1
month                         12
day                            5
hour                          20
minu                           0
weekday                        0
Name: 752, dtype: object
date time    2011-12-05 20:15:00
Free                           1
month                         12
day                            5
hour                          20
minu                          15
weekday                        0
Name: 753, dtype: object
date time    2011-12-05 20:30:00
Free                           1
month                         12
day                            5
hour                          20
minu                          30
weekday                        0
Name: 754, dtype: object
date time    2011-12-05 20:45:00
Free                           1
month                         12
day                            5
hour                          20
minu                          45
weekday                        0
Name: 755, dtype: object
date time    2011-12-05 21:00:00
Free                           1
month                         12
day                            5
hour                          21
minu                           0
weekday                        0
Name: 756, dtype: object
date time    2011-12-05 21:15:00
Free                           1
month                         12
day                            5
hour                          21
minu                          15
weekday                        0
Name: 757, dtype: object
date time    2011-12-05 21:30:00
Free                           1
month                         12
day                            5
hour                          21
minu                          30
weekday                        0
Name: 758, dtype: object
date time    2011-12-05 21:45:00
Free                           1
month                         12
day                            5
hour                          21
minu                          45
weekday                        0
Name: 759, dtype: object
date time    2011-12-05 22:00:00
Free                           1
month                         12
day                            5
hour                          22
minu                           0
weekday                        0
Name: 760, dtype: object
date time    2011-12-05 22:15:00
Free                           1
month                         12
day                            5
hour                          22
minu                          15
weekday                        0
Name: 761, dtype: object
date time    2011-12-05 22:30:00
Free                           1
month                         12
day                            5
hour                          22
minu                          30
weekday                        0
Name: 762, dtype: object
date time    2011-12-05 22:45:00
Free                           1
month                         12
day                            5
hour                          22
minu                          45
weekday                        0
Name: 763, dtype: object
date time    2011-12-05 23:00:00
Free                           1
month                         12
day                            5
hour                          23
minu                           0
weekday                        0
Name: 764, dtype: object
date time    2011-12-05 23:15:00
Free                           1
month                         12
day                            5
hour                          23
minu                          15
weekday                        0
Name: 765, dtype: object
date time    2011-12-05 23:30:00
Free                           1
month                         12
day                            5
hour                          23
minu                          30
weekday                        0
Name: 766, dtype: object
date time    2011-12-05 23:45:00
Free                           1
month                         12
day                            5
hour                          23
minu                          45
weekday                        0
Name: 767, dtype: object
date time    2011-12-06 00:00:00
Free                           1
month                         12
day                            6
hour                           0
minu                           0
weekday                        1
Name: 768, dtype: object
date time    2011-12-06 00:15:00
Free                           1
month                         12
day                            6
hour                           0
minu                          15
weekday                        1
Name: 769, dtype: object

date time    2011-12-06 12:15:00
Free                           1
month                         12
day                            6
hour                          12
minu                          15
weekday                        1
Name: 817, dtype: object
date time    2011-12-06 12:30:00
Free                           1
month                         12
day                            6
hour                          12
minu                          30
weekday                        1
Name: 818, dtype: object
date time    2011-12-06 12:45:00
Free                           1
month                         12
day                            6
hour                          12
minu                          45
weekday                        1
Name: 819, dtype: object
date time    2011-12-06 13:00:00
Free                           1
month                         12
day                            6
hour                          13
minu                           0
weekday                        1
Name: 820, dtype: object
date time    2011-12-06 13:15:00
Free                           1
month                         12
day                            6
hour                          13
minu                          15
weekday                        1
Name: 821, dtype: object
date time    2011-12-06 13:30:00
Free                           1
month                         12
day                            6
hour                          13
minu                          30
weekday                        1
Name: 822, dtype: object
date time    2011-12-06 13:45:00
Free                           1
month                         12
day                            6
hour                          13
minu                          45
weekday                        1
Name: 823, dtype: object
date time    2011-12-06 14:00:00
Free                           1
month                         12
day                            6
hour                          14
minu                           0
weekday                        1
Name: 824, dtype: object
date time    2011-12-06 14:15:00
Free                           1
month                         12
day                            6
hour                          14
minu                          15
weekday                        1
Name: 825, dtype: object
date time    2011-12-06 14:30:00
Free                           1
month                         12
day                            6
hour                          14
minu                          30
weekday                        1
Name: 826, dtype: object
date time    2011-12-06 14:45:00
Free                           0
month                         12
day                            6
hour                          14
minu                          45
weekday                        1
Name: 827, dtype: object
date time    2011-12-06 15:00:00
Free                           0
month                         12
day                            6
hour                          15
minu                           0
weekday                        1
Name: 828, dtype: object
date time    2011-12-06 15:15:00
Free                           1
month                         12
day                            6
hour                          15
minu                          15
weekday                        1
Name: 829, dtype: object
date time    2011-12-06 15:30:00
Free                           1
month                         12
day                            6
hour                          15
minu                          30
weekday                        1
Name: 830, dtype: object
date time    2011-12-06 15:45:00
Free                           1
month                         12
day                            6
hour                          15
minu                          45
weekday                        1
Name: 831, dtype: object
date time    2011-12-06 16:00:00
Free                           1
month                         12
day                            6
hour                          16
minu                           0
weekday                        1
Name: 832, dtype: object
date time    2011-12-06 16:15:00
Free                           1
month                         12
day                            6
hour                          16
minu                          15
weekday                        1
Name: 833, dtype: object
date time    2011-12-06 16:30:00
Free                           1
month                         12
day                            6
hour                          16
minu                          30
weekday                        1
Name: 834, dtype: object
date time    2011-12-06 16:45:00
Free                           1
month                         12
day                            6
hour                          16
minu                          45
weekday                        1
Name: 835, dtype: object
date time    2011-12-06 17:00:00
Free                           1
month                         12
day                            6
hour                          17
minu                           0
weekday                        1
Name: 836, dtype: object
date time    2011-12-06 17:15:00
Free                           1
month                         12
day                            6
hour                          17
minu                          15
weekday                        1
Name: 837, dtype: object
date time    2011-12-06 17:30:00
Free                           1
month                         12
day                            6
hour                          17
minu                          30
weekday                        1
Name: 838, dtype: object
date time    2011-12-06 17:45:00
Free                           1
month                         12
day                            6
hour                          17
minu                          45
weekday                        1
Name: 839, dtype: object
date time    2011-12-06 18:00:00
Free                           1
month                         12
day                            6
hour                          18
minu                           0
weekday                        1
Name: 840, dtype: object
date time    2011-12-06 18:15:00
Free                           1
month                         12
day                            6
hour                          18
minu                          15
weekday                        1
Name: 841, dtype: object
date time    2011-12-06 18:30:00
Free                           1
month                         12
day                            6
hour                          18
minu                          30
weekday                        1
Name: 842, dtype: object
date time    2011-12-06 18:45:00
Free                           1
month                         12
day                            6
hour                          18
minu                          45
weekday                        1
Name: 843, dtype: object
date time    2011-12-06 19:00:00
Free                           1
month                         12
day                            6
hour                          19
minu                           0
weekday                        1
Name: 844, dtype: object
date time    2011-12-06 19:15:00
Free                           1
month                         12
day                            6
hour                          19
minu                          15
weekday                        1
Name: 845, dtype: object
date time    2011-12-06 19:30:00
Free                           1
month                         12
day                            6
hour                          19
minu                          30
weekday                        1
Name: 846, dtype: object
date time    2011-12-06 19:45:00
Free                           1
month                         12
day                            6
hour                          19
minu                          45
weekday                        1
Name: 847, dtype: object
date time    2011-12-06 20:00:00
Free                           1
month                         12
day                            6
hour                          20
minu                           0
weekday                        1
Name: 848, dtype: object
date time    2011-12-06 20:15:00
Free                           1
month                         12
day                            6
hour                          20
minu                          15
weekday                        1
Name: 849, dtype: object
date time    2011-12-06 20:30:00
Free                           1
month                         12
day                            6
hour                          20
minu                          30
weekday                        1
Name: 850, dtype: object
date time    2011-12-06 20:45:00
Free                           1
month                         12
day                            6
hour                          20
minu                          45
weekday                        1
Name: 851, dtype: object
date time    2011-12-06 21:00:00
Free                           1
month                         12
day                            6
hour                          21
minu                           0
weekday                        1
Name: 852, dtype: object
date time    2011-12-06 21:15:00
Free                           1
month                         12
day                            6
hour                          21
minu                          15
weekday                        1
Name: 853, dtype: object
date time    2011-12-06 21:30:00
Free                           1
month                         12
day                            6
hour                          21
minu                          30
weekday                        1
Name: 854, dtype: object
date time    2011-12-06 21:45:00
Free                           1
month                         12
day                            6
hour                          21
minu                          45
weekday                        1
Name: 855, dtype: object
date time    2011-12-06 22:00:00
Free                           1
month                         12
day                            6
hour                          22
minu                           0
weekday                        1
Name: 856, dtype: object
date time    2011-12-06 22:15:00
Free                           1
month                         12
day                            6
hour                          22
minu                          15
weekday                        1
Name: 857, dtype: object
date time    2011-12-06 22:30:00
Free                           1
month                         12
day                            6
hour                          22
minu                          30
weekday                        1
Name: 858, dtype: object
date time    2011-12-06 22:45:00
Free                           1
month                         12
day                            6
hour                          22
minu                          45
weekday                        1
Name: 859, dtype: object
date time    2011-12-06 23:00:00
Free                           1
month                         12
day                            6
hour                          23
minu                           0
weekday                        1
Name: 860, dtype: object
date time    2011-12-06 23:15:00
Free                           1
month                         12
day                            6
hour                          23
minu                          15
weekday                        1
Name: 861, dtype: object
date time    2011-12-06 23:30:00
Free                           1
month                         12
day                            6
hour                          23
minu                          30
weekday                        1
Name: 862, dtype: object
date time    2011-12-06 23:45:00
Free                           1
month                         12
day                            6
hour                          23
minu                          45
weekday                        1
Name: 863, dtype: object
date time    2011-12-07 00:00:00
Free                           1
month                         12
day                            7
hour                           0
minu                           0
weekday                        2
Name: 864, dtype: object
date time    2011-12-07 00:15:00
Free                           1
month                         12
day                            7
hour                           0
minu                          15
weekday                        2
Name: 865, dtype: object
date time    2011-12-07 00:30:00
Free                           1
month                         12
day                            7
hour                           0
minu                          30
weekday                        2
Name: 866, dtype: object
date time    2011-12-07 00:45:00
Free                           1
month                         12
day                            7
hour                           0
minu                          45
weekday                        2
Name: 867, dtype: object
date time    2011-12-07 01:00:00
Free                           0
month                         12
day                            7
hour                           1
minu                           0
weekday                        2
Name: 868, dtype: object
date time    2011-12-07 01:15:00
Free                           0
month                         12
day                            7
hour                           1
minu                          15
weekday                        2
Name: 869, dtype: object
date time    2011-12-07 01:30:00
Free                           0
month                         12
day                            7
hour                           1
minu                          30
weekday                        2
Name: 870, dtype: object
date time    2011-12-07 01:45:00
Free                           0
month                         12
day                            7
hour                           1
minu                          45
weekday                        2
Name: 871, dtype: object
date time    2011-12-07 02:00:00
Free                           0
month                         12
day                            7
hour                           2
minu                           0
weekday                        2
Name: 872, dtype: object
date time    2011-12-07 02:15:00
Free                           0
month                         12
day                            7
hour                           2
minu                          15
weekday                        2
Name: 873, dtype: object
date time    2011-12-07 02:30:00
Free                           0
month                         12
day                            7
hour                           2
minu                          30
weekday                        2
Name: 874, dtype: object
date time    2011-12-07 02:45:00
Free                           0
month                         12
day                            7
hour                           2
minu                          45
weekday                        2
Name: 875, dtype: object
date time    2011-12-07 03:00:00
Free                           0
month                         12
day                            7
hour                           3
minu                           0
weekday                        2
Name: 876, dtype: object
date time    2011-12-07 03:15:00
Free                           0
month                         12
day                            7
hour                           3
minu                          15
weekday                        2
Name: 877, dtype: object
date time    2011-12-07 03:30:00
Free                           0
month                         12
day                            7
hour                           3
minu                          30
weekday                        2
Name: 878, dtype: object
date time    2011-12-07 03:45:00
Free                           0
month                         12
day                            7
hour                           3
minu                          45
weekday                        2
Name: 879, dtype: object
date time    2011-12-07 04:00:00
Free                           0
month                         12
day                            7
hour                           4
minu                           0
weekday                        2
Name: 880, dtype: object
date time    2011-12-07 04:15:00
Free                           0
month                         12
day                            7
hour                           4
minu                          15
weekday                        2
Name: 881, dtype: object
date time    2011-12-07 04:30:00
Free                           0
month                         12
day                            7
hour                           4
minu                          30
weekday                        2
Name: 882, dtype: object
date time    2011-12-07 04:45:00
Free                           0
month                         12
day                            7
hour                           4
minu                          45
weekday                        2
Name: 883, dtype: object
date time    2011-12-07 05:00:00
Free                           0
month                         12
day                            7
hour                           5
minu                           0
weekday                        2
Name: 884, dtype: object
date time    2011-12-07 05:15:00
Free                           0
month                         12
day                            7
hour                           5
minu                          15
weekday                        2
Name: 885, dtype: object
date time    2011-12-07 05:30:00
Free                           0
month                         12
day                            7
hour                           5
minu                          30
weekday                        2
Name: 886, dtype: object
date time    2011-12-07 05:45:00
Free                           0
month                         12
day                            7
hour                           5
minu                          45
weekday                        2
Name: 887, dtype: object
date time    2011-12-07 06:00:00
Free                           0
month                         12
day                            7
hour                           6
minu                           0
weekday                        2
Name: 888, dtype: object
date time    2011-12-07 06:15:00
Free                           0
month                         12
day                            7
hour                           6
minu                          15
weekday                        2
Name: 889, dtype: object
date time    2011-12-07 06:30:00
Free                           0
month                         12
day                            7
hour                           6
minu                          30
weekday                        2
Name: 890, dtype: object
date time    2011-12-07 06:45:00
Free                           0
month                         12
day                            7
hour                           6
minu                          45
weekday                        2
Name: 891, dtype: object
date time    2011-12-07 07:00:00
Free                           0
month                         12
day                            7
hour                           7
minu                           0
weekday                        2
Name: 892, dtype: object
date time    2011-12-07 07:15:00
Free                           0
month                         12
day                            7
hour                           7
minu                          15
weekday                        2
Name: 893, dtype: object
date time    2011-12-07 07:30:00
Free                           0
month                         12
day                            7
hour                           7
minu                          30
weekday                        2
Name: 894, dtype: object

Name: 922, dtype: object
date time    2011-12-07 14:45:00
Free                           1
month                         12
day                            7
hour                          14
minu                          45
weekday                        2
Name: 923, dtype: object
date time    2011-12-07 15:00:00
Free                           1
month                         12
day                            7
hour                          15
minu                           0
weekday                        2
Name: 924, dtype: object
date time    2011-12-07 15:15:00
Free                           1
month                         12
day                            7
hour                          15
minu                          15
weekday                        2
Name: 925, dtype: object
date time    2011-12-07 15:30:00
Free                           1
month                         12
day                            7
hour                          15
minu                          30
weekday                        2
Name: 926, dtype: object
date time    2011-12-07 15:45:00
Free                           1
month                         12
day                            7
hour                          15
minu                          45
weekday                        2
Name: 927, dtype: object
date time    2011-12-07 16:00:00
Free                           1
month                         12
day                            7
hour                          16
minu                           0
weekday                        2
Name: 928, dtype: object
date time    2011-12-07 16:15:00
Free                           0
month                         12
day                            7
hour                          16
minu                          15
weekday                        2
Name: 929, dtype: object
date time    2011-12-07 16:30:00
Free                           0
month                         12
day                            7
hour                          16
minu                          30
weekday                        2
Name: 930, dtype: object
date time    2011-12-07 16:45:00
Free                           0
month                         12
day                            7
hour                          16
minu                          45
weekday                        2
Name: 931, dtype: object
date time    2011-12-07 17:00:00
Free                           0
month                         12
day                            7
hour                          17
minu                           0
weekday                        2
Name: 932, dtype: object
date time    2011-12-07 17:15:00
Free                           0
month                         12
day                            7
hour                          17
minu                          15
weekday                        2
Name: 933, dtype: object
date time    2011-12-07 17:30:00
Free                           0
month                         12
day                            7
hour                          17
minu                          30
weekday                        2
Name: 934, dtype: object
date time    2011-12-07 17:45:00
Free                           0
month                         12
day                            7
hour                          17
minu                          45
weekday                        2
Name: 935, dtype: object
date time    2011-12-07 18:00:00
Free                           0
month                         12
day                            7
hour                          18
minu                           0
weekday                        2
Name: 936, dtype: object
date time    2011-12-07 18:15:00
Free                           1
month                         12
day                            7
hour                          18
minu                          15
weekday                        2
Name: 937, dtype: object
date time    2011-12-07 18:30:00
Free                           1
month                         12
day                            7
hour                          18
minu                          30
weekday                        2
Name: 938, dtype: object
date time    2011-12-07 18:45:00
Free                           1
month                         12
day                            7
hour                          18
minu                          45
weekday                        2
Name: 939, dtype: object
date time    2011-12-07 19:00:00
Free                           1
month                         12
day                            7
hour                          19
minu                           0
weekday                        2
Name: 940, dtype: object
date time    2011-12-07 19:15:00
Free                           1
month                         12
day                            7
hour                          19
minu                          15
weekday                        2
Name: 941, dtype: object
date time    2011-12-07 19:30:00
Free                           0
month                         12
day                            7
hour                          19
minu                          30
weekday                        2
Name: 942, dtype: object
date time    2011-12-07 19:45:00
Free                           0
month                         12
day                            7
hour                          19
minu                          45
weekday                        2
Name: 943, dtype: object
date time    2011-12-07 20:00:00
Free                           0
month                         12
day                            7
hour                          20
minu                           0
weekday                        2
Name: 944, dtype: object
date time    2011-12-07 20:15:00
Free                           0
month                         12
day                            7
hour                          20
minu                          15
weekday                        2
Name: 945, dtype: object
date time    2011-12-07 20:30:00
Free                           1
month                         12
day                            7
hour                          20
minu                          30
weekday                        2
Name: 946, dtype: object
date time    2011-12-07 20:45:00
Free                           1
month                         12
day                            7
hour                          20
minu                          45
weekday                        2
Name: 947, dtype: object
date time    2011-12-07 21:00:00
Free                           1
month                         12
day                            7
hour                          21
minu                           0
weekday                        2
Name: 948, dtype: object
date time    2011-12-07 21:15:00
Free                           1
month                         12
day                            7
hour                          21
minu                          15
weekday                        2
Name: 949, dtype: object
date time    2011-12-07 21:30:00
Free                           1
month                         12
day                            7
hour                          21
minu                          30
weekday                        2
Name: 950, dtype: object
date time    2011-12-07 21:45:00
Free                           1
month                         12
day                            7
hour                          21
minu                          45
weekday                        2
Name: 951, dtype: object
date time    2011-12-07 22:00:00
Free                           1
month                         12
day                            7
hour                          22
minu                           0
weekday                        2
Name: 952, dtype: object
date time    2011-12-07 22:15:00
Free                           1
month                         12
day                            7
hour                          22
minu                          15
weekday                        2
Name: 953, dtype: object
date time    2011-12-07 22:30:00
Free                           1
month                         12
day                            7
hour                          22
minu                          30
weekday                        2
Name: 954, dtype: object
date time    2011-12-07 22:45:00
Free                           1
month                         12
day                            7
hour                          22
minu                          45
weekday                        2
Name: 955, dtype: object
date time    2011-12-07 23:00:00
Free                           1
month                         12
day                            7
hour                          23
minu                           0
weekday                        2
Name: 956, dtype: object
date time    2011-12-07 23:15:00
Free                           1
month                         12
day                            7
hour                          23
minu                          15
weekday                        2
Name: 957, dtype: object
date time    2011-12-07 23:30:00
Free                           1
month                         12
day                            7
hour                          23
minu                          30
weekday                        2
Name: 958, dtype: object
date time    2011-12-07 23:45:00
Free                           1
month                         12
day                            7
hour                          23
minu                          45
weekday                        2
Name: 959, dtype: object
date time    2011-12-08 00:00:00
Free                           1
month                         12
day                            8
hour                           0
minu                           0
weekday                        3
Name: 960, dtype: object
date time    2011-12-08 00:15:00
Free                           1
month                         12
day                            8
hour                           0
minu                          15
weekday                        3
Name: 961, dtype: object
date time    2011-12-08 00:30:00
Free                           1
month                         12
day                            8
hour                           0
minu                          30
weekday                        3
Name: 962, dtype: object
date time    2011-12-08 00:45:00
Free                           1
month                         12
day                            8
hour                           0
minu                          45
weekday                        3
Name: 963, dtype: object
date time    2011-12-08 01:00:00
Free                           1
month                         12
day                            8
hour                           1
minu                           0
weekday                        3
Name: 964, dtype: object
date time    2011-12-08 01:15:00
Free                           1
month                         12
day                            8
hour                           1
minu                          15
weekday                        3
Name: 965, dtype: object
date time    2011-12-08 01:30:00
Free                           1
month                         12
day                            8
hour                           1
minu                          30
weekday                        3
Name: 966, dtype: object
date time    2011-12-08 01:45:00
Free                           0
month                         12
day                            8
hour                           1
minu                          45
weekday                        3
Name: 967, dtype: object
date time    2011-12-08 02:00:00
Free                           0
month                         12
day                            8
hour                           2
minu                           0
weekday                        3
Name: 968, dtype: object
date time    2011-12-08 02:15:00
Free                           0
month                         12
day                            8
hour                           2
minu                          15
weekday                        3
Name: 969, dtype: object
date time    2011-12-08 02:30:00
Free                           0
month                         12
day                            8
hour                           2
minu                          30
weekday                        3
Name: 970, dtype: object
date time    2011-12-08 02:45:00
Free                           0
month                         12
day                            8
hour                           2
minu                          45
weekday                        3
Name: 971, dtype: object
date time    2011-12-08 03:00:00
Free                           0
month                         12
day                            8
hour                           3
minu                           0
weekday                        3
Name: 972, dtype: object
date time    2011-12-08 03:15:00
Free                           0
month                         12
day                            8
hour                           3
minu                          15
weekday                        3
Name: 973, dtype: object
date time    2011-12-08 03:30:00
Free                           0
month                         12
day                            8
hour                           3
minu                          30
weekday                        3
Name: 974, dtype: object
date time    2011-12-08 03:45:00
Free                           0
month                         12
day                            8
hour                           3
minu                          45
weekday                        3
Name: 975, dtype: object
date time    2011-12-08 04:00:00
Free                           0
month                         12
day                            8
hour                           4
minu                           0
weekday                        3
Name: 976, dtype: object
date time    2011-12-08 04:15:00
Free                           0
month                         12
day                            8
hour                           4
minu                          15
weekday                        3
Name: 977, dtype: object
date time    2011-12-08 04:30:00
Free                           0
month                         12
day                            8
hour                           4
minu                          30
weekday                        3
Name: 978, dtype: object
date time    2011-12-08 04:45:00
Free                           0
month                         12
day                            8
hour                           4
minu                          45
weekday                        3
Name: 979, dtype: object
date time    2011-12-08 05:00:00
Free                           0
month                         12
day                            8
hour                           5
minu                           0
weekday                        3
Name: 980, dtype: object
date time    2011-12-08 05:15:00
Free                           0
month                         12
day                            8
hour                           5
minu                          15
weekday                        3
Name: 981, dtype: object
date time    2011-12-08 05:30:00
Free                           0
month                         12
day                            8
hour                           5
minu                          30
weekday                        3
Name: 982, dtype: object
date time    2011-12-08 05:45:00
Free                           0
month                         12
day                            8
hour                           5
minu                          45
weekday                        3
Name: 983, dtype: object
date time    2011-12-08 06:00:00
Free                           0
month                         12
day                            8
hour                           6
minu                           0
weekday                        3
Name: 984, dtype: object
date time    2011-12-08 06:15:00
Free                           0
month                         12
day                            8
hour                           6
minu                          15
weekday                        3
Name: 985, dtype: object
date time    2011-12-08 06:30:00
Free                           0
month                         12
day                            8
hour                           6
minu                          30
weekday                        3
Name: 986, dtype: object
date time    2011-12-08 06:45:00
Free                           0
month                         12
day                            8
hour                           6
minu                          45
weekday                        3
Name: 987, dtype: object
date time    2011-12-08 07:00:00
Free                           0
month                         12
day                            8
hour                           7
minu                           0
weekday                        3
Name: 988, dtype: object
date time    2011-12-08 07:15:00
Free                           0
month                         12
day                            8
hour                           7
minu                          15
weekday                        3
Name: 989, dtype: object
date time    2011-12-08 07:30:00
Free                           0
month                         12
day                            8
hour                           7
minu                          30
weekday                        3
Name: 990, dtype: object
date time    2011-12-08 07:45:00
Free                           0
month                         12
day                            8
hour                           7
minu                          45
weekday                        3
Name: 991, dtype: object
date time    2011-12-08 08:00:00
Free                           0
month                         12
day                            8
hour                           8
minu                           0
weekday                        3
Name: 992, dtype: object
date time    2011-12-08 08:15:00
Free                           0
month                         12
day                            8
hour                           8
minu                          15
weekday                        3
Name: 993, dtype: object
date time    2011-12-08 08:30:00
Free                           0
month                         12
day                            8
hour                           8
minu                          30
weekday                        3
Name: 994, dtype: object
date time    2011-12-08 08:45:00
Free                           0
month                         12
day                            8
hour                           8
minu                          45
weekday                        3
Name: 995, dtype: object
date time    2011-12-08 09:00:00
Free                           0
month                         12
day                            8
hour                           9
minu                           0
weekday                        3
Name: 996, dtype: object
date time    2011-12-08 09:15:00
Free                           0
month                         12
day                            8
hour                           9
minu                          15
weekday                        3
Name: 997, dtype: object
date time    2011-12-08 09:30:00
Free                           0
month                         12
day                            8
hour                           9
minu                          30
weekday                        3
Name: 998, dtype: object
date time    2011-12-08 09:45:00
Free                           0
month                         12
day                            8
hour                           9
minu                          45
weekday                        3
Name: 999, dtype: object
date time    2011-12-08 10:00:00
Free                           0
month                         12
day                            8
hour                          10
minu                           0
weekday                        3
Name: 1000, dtype: object

Name: 1022, dtype: object
date time    2011-12-08 15:45:00
Free                           0
month                         12
day                            8
hour                          15
minu                          45
weekday                        3
Name: 1023, dtype: object
date time    2011-12-08 16:00:00
Free                           0
month                         12
day                            8
hour                          16
minu                           0
weekday                        3
Name: 1024, dtype: object
date time    2011-12-08 16:15:00
Free                           1
month                         12
day                            8
hour                          16
minu                          15
weekday                        3
Name: 1025, dtype: object
date time    2011-12-08 16:30:00
Free                           1
month                         12
day                            8
hour                          16
minu                          30
weekday                        3
Name: 1026, dtype: object
date time    2011-12-08 16:45:00
Free                           1
month                         12
day                            8
hour                          16
minu                          45
weekday                        3
Name: 1027, dtype: object
date time    2011-12-08 17:00:00
Free                           1
month                         12
day                            8
hour                          17
minu                           0
weekday                        3
Name: 1028, dtype: object
date time    2011-12-08 17:15:00
Free                           1
month                         12
day                            8
hour                          17
minu                          15
weekday                        3
Name: 1029, dtype: object
date time    2011-12-08 17:30:00
Free                           1
month                         12
day                            8
hour                          17
minu                          30
weekday                        3
Name: 1030, dtype: object
date time    2011-12-08 17:45:00
Free                           1
month                         12
day                            8
hour                          17
minu                          45
weekday                        3
Name: 1031, dtype: object
date time    2011-12-08 18:00:00
Free                           1
month                         12
day                            8
hour                          18
minu                           0
weekday                        3
Name: 1032, dtype: object
date time    2011-12-08 18:15:00
Free                           1
month                         12
day                            8
hour                          18
minu                          15
weekday                        3
Name: 1033, dtype: object
date time    2011-12-08 18:30:00
Free                           1
month                         12
day                            8
hour                          18
minu                          30
weekday                        3
Name: 1034, dtype: object
date time    2011-12-08 18:45:00
Free                           1
month                         12
day                            8
hour                          18
minu                          45
weekday                        3
Name: 1035, dtype: object
date time    2011-12-08 19:00:00
Free                           1
month                         12
day                            8
hour                          19
minu                           0
weekday                        3
Name: 1036, dtype: object
date time    2011-12-08 19:15:00
Free                           1
month                         12
day                            8
hour                          19
minu                          15
weekday                        3
Name: 1037, dtype: object
date time    2011-12-08 19:30:00
Free                           1
month                         12
day                            8
hour                          19
minu                          30
weekday                        3
Name: 1038, dtype: object
date time    2011-12-08 19:45:00
Free                           1
month                         12
day                            8
hour                          19
minu                          45
weekday                        3
Name: 1039, dtype: object
date time    2011-12-08 20:00:00
Free                           1
month                         12
day                            8
hour                          20
minu                           0
weekday                        3
Name: 1040, dtype: object
date time    2011-12-08 20:15:00
Free                           1
month                         12
day                            8
hour                          20
minu                          15
weekday                        3
Name: 1041, dtype: object
date time    2011-12-08 20:30:00
Free                           1
month                         12
day                            8
hour                          20
minu                          30
weekday                        3
Name: 1042, dtype: object
date time    2011-12-08 20:45:00
Free                           1
month                         12
day                            8
hour                          20
minu                          45
weekday                        3
Name: 1043, dtype: object
date time    2011-12-08 21:00:00
Free                           1
month                         12
day                            8
hour                          21
minu                           0
weekday                        3
Name: 1044, dtype: object
date time    2011-12-08 21:15:00
Free                           1
month                         12
day                            8
hour                          21
minu                          15
weekday                        3
Name: 1045, dtype: object
date time    2011-12-08 21:30:00
Free                           1
month                         12
day                            8
hour                          21
minu                          30
weekday                        3
Name: 1046, dtype: object
date time    2011-12-08 21:45:00
Free                           1
month                         12
day                            8
hour                          21
minu                          45
weekday                        3
Name: 1047, dtype: object
date time    2011-12-08 22:00:00
Free                           1
month                         12
day                            8
hour                          22
minu                           0
weekday                        3
Name: 1048, dtype: object
date time    2011-12-08 22:15:00
Free                           1
month                         12
day                            8
hour                          22
minu                          15
weekday                        3
Name: 1049, dtype: object
date time    2011-12-08 22:30:00
Free                           1
month                         12
day                            8
hour                          22
minu                          30
weekday                        3
Name: 1050, dtype: object
date time    2011-12-08 22:45:00
Free                           1
month                         12
day                            8
hour                          22
minu                          45
weekday                        3
Name: 1051, dtype: object
date time    2011-12-08 23:00:00
Free                           1
month                         12
day                            8
hour                          23
minu                           0
weekday                        3
Name: 1052, dtype: object
date time    2011-12-08 23:15:00
Free                           1
month                         12
day                            8
hour                          23
minu                          15
weekday                        3
Name: 1053, dtype: object
date time    2011-12-08 23:30:00
Free                           1
month                         12
day                            8
hour                          23
minu                          30
weekday                        3
Name: 1054, dtype: object
date time    2011-12-08 23:45:00
Free                           1
month                         12
day                            8
hour                          23
minu                          45
weekday                        3
Name: 1055, dtype: object
date time    2011-12-09 00:00:00
Free                           1
month                         12
day                            9
hour                           0
minu                           0
weekday                        4
Name: 1056, dtype: object
date time    2011-12-09 00:15:00
Free                           1
month                         12
day                            9
hour                           0
minu                          15
weekday                        4
Name: 1057, dtype: object
date time    2011-12-09 00:30:00
Free                           1
month                         12
day                            9
hour                           0
minu                          30
weekday                        4
Name: 1058, dtype: object
date time    2011-12-09 00:45:00
Free                           1
month                         12
day                            9
hour                           0
minu                          45
weekday                        4
Name: 1059, dtype: object
date time    2011-12-09 01:00:00
Free                           1
month                         12
day                            9
hour                           1
minu                           0
weekday                        4
Name: 1060, dtype: object
date time    2011-12-09 01:15:00
Free                           0
month                         12
day                            9
hour                           1
minu                          15
weekday                        4
Name: 1061, dtype: object
date time    2011-12-09 01:30:00
Free                           0
month                         12
day                            9
hour                           1
minu                          30
weekday                        4
Name: 1062, dtype: object
date time    2011-12-09 01:45:00
Free                           0
month                         12
day                            9
hour                           1
minu                          45
weekday                        4
Name: 1063, dtype: object
date time    2011-12-09 02:00:00
Free                           0
month                         12
day                            9
hour                           2
minu                           0
weekday                        4
Name: 1064, dtype: object
date time    2011-12-09 02:15:00
Free                           0
month                         12
day                            9
hour                           2
minu                          15
weekday                        4
Name: 1065, dtype: object
date time    2011-12-09 02:30:00
Free                           0
month                         12
day                            9
hour                           2
minu                          30
weekday                        4
Name: 1066, dtype: object
date time    2011-12-09 02:45:00
Free                           0
month                         12
day                            9
hour                           2
minu                          45
weekday                        4
Name: 1067, dtype: object
date time    2011-12-09 03:00:00
Free                           0
month                         12
day                            9
hour                           3
minu                           0
weekday                        4
Name: 1068, dtype: object
date time    2011-12-09 03:15:00
Free                           0
month                         12
day                            9
hour                           3
minu                          15
weekday                        4
Name: 1069, dtype: object
date time    2011-12-09 03:30:00
Free                           0
month                         12
day                            9
hour                           3
minu                          30
weekday                        4
Name: 1070, dtype: object
date time    2011-12-09 03:45:00
Free                           0
month                         12
day                            9
hour                           3
minu                          45
weekday                        4
Name: 1071, dtype: object
date time    2011-12-09 04:00:00
Free                           0
month                         12
day                            9
hour                           4
minu                           0
weekday                        4
Name: 1072, dtype: object
date time    2011-12-09 04:15:00
Free                           0
month                         12
day                            9
hour                           4
minu                          15
weekday                        4
Name: 1073, dtype: object
date time    2011-12-09 04:30:00
Free                           0
month                         12
day                            9
hour                           4
minu                          30
weekday                        4
Name: 1074, dtype: object
date time    2011-12-09 04:45:00
Free                           0
month                         12
day                            9
hour                           4
minu                          45
weekday                        4
Name: 1075, dtype: object
date time    2011-12-09 05:00:00
Free                           0
month                         12
day                            9
hour                           5
minu                           0
weekday                        4
Name: 1076, dtype: object
date time    2011-12-09 05:15:00
Free                           0
month                         12
day                            9
hour                           5
minu                          15
weekday                        4
Name: 1077, dtype: object
date time    2011-12-09 05:30:00
Free                           0
month                         12
day                            9
hour                           5
minu                          30
weekday                        4
Name: 1078, dtype: object
date time    2011-12-09 05:45:00
Free                           0
month                         12
day                            9
hour                           5
minu                          45
weekday                        4
Name: 1079, dtype: object
date time    2011-12-09 06:00:00
Free                           0
month                         12
day                            9
hour                           6
minu                           0
weekday                        4
Name: 1080, dtype: object
date time    2011-12-09 06:15:00
Free                           0
month                         12
day                            9
hour                           6
minu                          15
weekday                        4
Name: 1081, dtype: object
date time    2011-12-09 06:30:00
Free                           0
month                         12
day                            9
hour                           6
minu                          30
weekday                        4
Name: 1082, dtype: object
date time    2011-12-09 06:45:00
Free                           0
month                         12
day                            9
hour                           6
minu                          45
weekday                        4
Name: 1083, dtype: object
date time    2011-12-09 07:00:00
Free                           0
month                         12
day                            9
hour                           7
minu                           0
weekday                        4
Name: 1084, dtype: object
date time    2011-12-09 07:15:00
Free                           0
month                         12
day                            9
hour                           7
minu                          15
weekday                        4
Name: 1085, dtype: object
date time    2011-12-09 07:30:00
Free                           0
month                         12
day                            9
hour                           7
minu                          30
weekday                        4
Name: 1086, dtype: object
date time    2011-12-09 07:45:00
Free                           0
month                         12
day                            9
hour                           7
minu                          45
weekday                        4
Name: 1087, dtype: object
date time    2011-12-09 08:00:00
Free                           0
month                         12
day                            9
hour                           8
minu                           0
weekday                        4
Name: 1088, dtype: object
date time    2011-12-09 08:15:00
Free                           0
month                         12
day                            9
hour                           8
minu                          15
weekday                        4
Name: 1089, dtype: object
date time    2011-12-09 08:30:00
Free                           0
month                         12
day                            9
hour                           8
minu                          30
weekday                        4
Name: 1090, dtype: object
date time    2011-12-09 08:45:00
Free                           0
month                         12
day                            9
hour                           8
minu                          45
weekday                        4
Name: 1091, dtype: object
date time    2011-12-09 09:00:00
Free                           0
month                         12
day                            9
hour                           9
minu                           0
weekday                        4
Name: 1092, dtype: object
date time    2011-12-09 09:15:00
Free                           0
month                         12
day                            9
hour                           9
minu                          15
weekday                        4
Name: 1093, dtype: object
date time    2011-12-09 09:30:00
Free                           0
month                         12
day                            9
hour                           9
minu                          30
weekday                        4
Name: 1094, dtype: object
date time    2011-12-09 09:45:00
Free                           0
month                         12
day                            9
hour                           9
minu                          45
weekday                        4
Name: 1095, dtype: object
date time    2011-12-09 10:00:00
Free                           0
month                         12
day                            9
hour                          10
minu                           0
weekday                        4
Name: 1096, dtype: object
date time    2011-12-09 10:15:00
Free                           0
month                         12
day                            9
hour                          10
minu                          15
weekday                        4
Name: 1097, dtype: object
date time    2011-12-09 10:30:00
Free                           0
month                         12
day                            9
hour                          10
minu                          30
weekday                        4
Name: 1098, dtype: object
date time    2011-12-09 10:45:00
Free                           0
month                         12
day                            9
hour                          10
minu                          45
weekday                        4
Name: 1099, dtype: object
date time    2011-12-09 11:00:00
Free                           1
month                         12
day                            9
hour                          11

Name: 1144, dtype: object
date time    2011-12-09 22:15:00
Free                           1
month                         12
day                            9
hour                          22
minu                          15
weekday                        4
Name: 1145, dtype: object
date time    2011-12-09 22:30:00
Free                           1
month                         12
day                            9
hour                          22
minu                          30
weekday                        4
Name: 1146, dtype: object
date time    2011-12-09 22:45:00
Free                           1
month                         12
day                            9
hour                          22
minu                          45
weekday                        4
Name: 1147, dtype: object
date time    2011-12-09 23:00:00
Free                           1
month                         12
day                            9
hour                          23
minu                           0
weekday                        4
Name: 1148, dtype: object
date time    2011-12-09 23:15:00
Free                           1
month                         12
day                            9
hour                          23
minu                          15
weekday                        4
Name: 1149, dtype: object
date time    2011-12-09 23:30:00
Free                           1
month                         12
day                            9
hour                          23
minu                          30
weekday                        4
Name: 1150, dtype: object
date time    2011-12-09 23:45:00
Free                           1
month                         12
day                            9
hour                          23
minu                          45
weekday                        4
Name: 1151, dtype: object
date time    2011-12-10 00:00:00
Free                           1
month                         12
day                           10
hour                           0
minu                           0
weekday                        5
Name: 1152, dtype: object
date time    2011-12-10 00:15:00
Free                           1
month                         12
day                           10
hour                           0
minu                          15
weekday                        5
Name: 1153, dtype: object
date time    2011-12-10 00:30:00
Free                           1
month                         12
day                           10
hour                           0
minu                          30
weekday                        5
Name: 1154, dtype: object
date time    2011-12-10 00:45:00
Free                           1
month                         12
day                           10
hour                           0
minu                          45
weekday                        5
Name: 1155, dtype: object
date time    2011-12-10 01:00:00
Free                           0
month                         12
day                           10
hour                           1
minu                           0
weekday                        5
Name: 1156, dtype: object
date time    2011-12-10 01:15:00
Free                           0
month                         12
day                           10
hour                           1
minu                          15
weekday                        5
Name: 1157, dtype: object
date time    2011-12-10 01:30:00
Free                           0
month                         12
day                           10
hour                           1
minu                          30
weekday                        5
Name: 1158, dtype: object
date time    2011-12-10 01:45:00
Free                           0
month                         12
day                           10
hour                           1
minu                          45
weekday                        5
Name: 1159, dtype: object
date time    2011-12-10 02:00:00
Free                           0
month                         12
day                           10
hour                           2
minu                           0
weekday                        5
Name: 1160, dtype: object
date time    2011-12-10 02:15:00
Free                           0
month                         12
day                           10
hour                           2
minu                          15
weekday                        5
Name: 1161, dtype: object
date time    2011-12-10 02:30:00
Free                           0
month                         12
day                           10
hour                           2
minu                          30
weekday                        5
Name: 1162, dtype: object
date time    2011-12-10 02:45:00
Free                           0
month                         12
day                           10
hour                           2
minu                          45
weekday                        5
Name: 1163, dtype: object
date time    2011-12-10 03:00:00
Free                           0
month                         12
day                           10
hour                           3
minu                           0
weekday                        5
Name: 1164, dtype: object
date time    2011-12-10 03:15:00
Free                           0
month                         12
day                           10
hour                           3
minu                          15
weekday                        5
Name: 1165, dtype: object
date time    2011-12-10 03:30:00
Free                           0
month                         12
day                           10
hour                           3
minu                          30
weekday                        5
Name: 1166, dtype: object
date time    2011-12-10 03:45:00
Free                           0
month                         12
day                           10
hour                           3
minu                          45
weekday                        5
Name: 1167, dtype: object
date time    2011-12-10 04:00:00
Free                           0
month                         12
day                           10
hour                           4
minu                           0
weekday                        5
Name: 1168, dtype: object
date time    2011-12-10 04:15:00
Free                           0
month                         12
day                           10
hour                           4
minu                          15
weekday                        5
Name: 1169, dtype: object
date time    2011-12-10 04:30:00
Free                           0
month                         12
day                           10
hour                           4
minu                          30
weekday                        5
Name: 1170, dtype: object
date time    2011-12-10 04:45:00
Free                           0
month                         12
day                           10
hour                           4
minu                          45
weekday                        5
Name: 1171, dtype: object
date time    2011-12-10 05:00:00
Free                           0
month                         12
day                           10
hour                           5
minu                           0
weekday                        5
Name: 1172, dtype: object
date time    2011-12-10 05:15:00
Free                           0
month                         12
day                           10
hour                           5
minu                          15
weekday                        5
Name: 1173, dtype: object
date time    2011-12-10 05:30:00
Free                           0
month                         12
day                           10
hour                           5
minu                          30
weekday                        5
Name: 1174, dtype: object
date time    2011-12-10 05:45:00
Free                           0
month                         12
day                           10
hour                           5
minu                          45
weekday                        5
Name: 1175, dtype: object
date time    2011-12-10 06:00:00
Free                           0
month                         12
day                           10
hour                           6
minu                           0
weekday                        5
Name: 1176, dtype: object
date time    2011-12-10 06:15:00
Free                           0
month                         12
day                           10
hour                           6
minu                          15
weekday                        5
Name: 1177, dtype: object
date time    2011-12-10 06:30:00
Free                           0
month                         12
day                           10
hour                           6
minu                          30
weekday                        5
Name: 1178, dtype: object
date time    2011-12-10 06:45:00
Free                           0
month                         12
day                           10
hour                           6
minu                          45
weekday                        5
Name: 1179, dtype: object
date time    2011-12-10 07:00:00
Free                           0
month                         12
day                           10
hour                           7
minu                           0
weekday                        5
Name: 1180, dtype: object
date time    2011-12-10 07:15:00
Free                           0
month                         12
day                           10
hour                           7
minu                          15
weekday                        5
Name: 1181, dtype: object
date time    2011-12-10 07:30:00
Free                           0
month                         12
day                           10
hour                           7
minu                          30
weekday                        5
Name: 1182, dtype: object
date time    2011-12-10 07:45:00
Free                           0
month                         12
day                           10
hour                           7
minu                          45
weekday                        5
Name: 1183, dtype: object
date time    2011-12-10 08:00:00
Free                           0
month                         12
day                           10
hour                           8
minu                           0
weekday                        5
Name: 1184, dtype: object
date time    2011-12-10 08:15:00
Free                           0
month                         12
day                           10
hour                           8
minu                          15
weekday                        5
Name: 1185, dtype: object
date time    2011-12-10 08:30:00
Free                           0
month                         12
day                           10
hour                           8
minu                          30
weekday                        5
Name: 1186, dtype: object
date time    2011-12-10 08:45:00
Free                           0
month                         12
day                           10
hour                           8
minu                          45
weekday                        5
Name: 1187, dtype: object
date time    2011-12-10 09:00:00
Free                           0
month                         12
day                           10
hour                           9
minu                           0
weekday                        5
Name: 1188, dtype: object
date time    2011-12-10 09:15:00
Free                           0
month                         12
day                           10
hour                           9
minu                          15
weekday                        5
Name: 1189, dtype: object
date time    2011-12-10 09:30:00
Free                           0
month                         12
day                           10
hour                           9
minu                          30
weekday                        5
Name: 1190, dtype: object
date time    2011-12-10 09:45:00
Free                           0
month                         12
day                           10
hour                           9
minu                          45
weekday                        5
Name: 1191, dtype: object
date time    2011-12-10 10:00:00
Free                           1
month                         12
day                           10
hour                          10
minu                           0
weekday                        5
Name: 1192, dtype: object
date time    2011-12-10 10:15:00
Free                           1
month                         12
day                           10
hour                          10
minu                          15
weekday                        5
Name: 1193, dtype: object
date time    2011-12-10 10:30:00
Free                           1
month                         12
day                           10
hour                          10
minu                          30
weekday                        5
Name: 1194, dtype: object
date time    2011-12-10 10:45:00
Free                           1
month                         12
day                           10
hour                          10
minu                          45
weekday                        5
Name: 1195, dtype: object
date time    2011-12-10 11:00:00
Free                           1
month                         12
day                           10
hour                          11
minu                           0
weekday                        5
Name: 1196, dtype: object
date time    2011-12-10 11:15:00
Free                           1
month                         12
day                           10
hour                          11
minu                          15
weekday                        5
Name: 1197, dtype: object
date time    2011-12-10 11:30:00
Free                           1
month                         12
day                           10
hour                          11
minu                          30
weekday                        5
Name: 1198, dtype: object
date time    2011-12-10 11:45:00
Free                           1
month                         12
day                           10
hour                          11
minu                          45
weekday                        5
Name: 1199, dtype: object
date time    2011-12-10 12:00:00
Free                           1
month                         12
day                           10
hour                          12
minu                           0
weekday                        5
Name: 1200, dtype: object
date time    2011-12-10 12:15:00
Free                           1
month                         12
day                           10
hour                          12
minu                          15
weekday                        5
Name: 1201, dtype: object
date time    2011-12-10 12:30:00
Free                           1
month                         12
day                           10
hour                          12
minu                          30
weekday                        5
Name: 1202, dtype: object
date time    2011-12-10 12:45:00
Free                           0
month                         12
day                           10
hour                          12
minu                          45
weekday                        5
Name: 1203, dtype: object
date time    2011-12-10 13:00:00
Free                           0
month                         12
day                           10
hour                          13
minu                           0
weekday                        5
Name: 1204, dtype: object
date time    2011-12-10 13:15:00
Free                           0
month                         12
day                           10
hour                          13
minu                          15
weekday                        5
Name: 1205, dtype: object
date time    2011-12-10 13:30:00
Free                           0
month                         12
day                           10
hour                          13
minu                          30
weekday                        5
Name: 1206, dtype: object
date time    2011-12-10 13:45:00
Free                           0
month                         12
day                           10
hour                          13
minu                          45
weekday                        5
Name: 1207, dtype: object
date time    2011-12-10 14:00:00
Free                           0
month                         12
day                           10
hour                          14
minu                           0
weekday                        5
Name: 1208, dtype: object
date time    2011-12-10 14:15:00
Free                           0
month                         12
day                           10
hour                          14
minu                          15
weekday                        5
Name: 1209, dtype: object
date time    2011-12-10 14:30:00
Free                           0
month                         12
day                           10
hour                          14
minu                          30
weekday                        5
Name: 1210, dtype: object
date time    2011-12-10 14:45:00
Free                           0
month                         12
day                           10
hour                          14
minu                          45
weekday                        5
Name: 1211, dtype: object
date time    2011-12-10 15:00:00
Free                           0
month                         12
day                           10
hour                          15
minu                           0
weekday                        5
Name: 1212, dtype: object
date time    2011-12-10 15:15:00
Free                           0
month                         12
day                           10
hour                          15
minu                          15
weekday                        5
Name: 1213, dtype: object
date time    2011-12-10 15:30:00
Free                           0
month                         12
day                           10
hour                          15
minu                          30
weekday                        5
Name: 1214, dtype: object
date time    2011-12-10 15:45:00
Free                           0
month                         12
day                           10
hour                          15
minu                          45
weekday                        5
Name: 1215, dtype: object
date time    2011-12-10 16:00:00
Free                           0
month                         12
day                           10
hour                          16
minu                           0
weekday                        5
Name: 1216, dtype: object
date time    2011-12-10 16:15:00
Free                           0
month                         12
day                           10
hour                          16
minu                          15
weekday                        5
Name: 1217, dtype: object
date time    2011-12-10 16:30:00
Free                           0
month                         12
day                           10
hour                          16
minu                          30
weekday                        5
Name: 1218, dtype: object
date time    2011-12-10 16:45:00
Free                           0
month                         12
day                           10
hour                          16
minu                          45
weekday                        5
Name: 1219, dtype: object
date time    2011-12-10 17:00:00
Free                           1
month                         12
day                           10
hour                          17
minu                           0
weekday                        5
Name: 1220, dtype: object
date time    2011-12-10 17:15:00
Free                           1
month                         12
day                           10
hour                          17
minu                          15
weekday                        5
Name: 1221, dtype: object
date time    2011-12-10 17:30:00
Free                           1
month                         12
day                           10
hour                          17

Name: 1256, dtype: object
date time    2011-12-11 02:15:00
Free                           1
month                         12
day                           11
hour                           2
minu                          15
weekday                        6
Name: 1257, dtype: object
date time    2011-12-11 02:30:00
Free                           0
month                         12
day                           11
hour                           2
minu                          30
weekday                        6
Name: 1258, dtype: object
date time    2011-12-11 02:45:00
Free                           0
month                         12
day                           11
hour                           2
minu                          45
weekday                        6
Name: 1259, dtype: object
date time    2011-12-11 03:00:00
Free                           0
month                         12
day                           11
hour                           3
minu                           0
weekday                        6
Name: 1260, dtype: object
date time    2011-12-11 03:15:00
Free                           0
month                         12
day                           11
hour                           3
minu                          15
weekday                        6
Name: 1261, dtype: object
date time    2011-12-11 03:30:00
Free                           0
month                         12
day                           11
hour                           3
minu                          30
weekday                        6
Name: 1262, dtype: object
date time    2011-12-11 03:45:00
Free                           0
month                         12
day                           11
hour                           3
minu                          45
weekday                        6
Name: 1263, dtype: object
date time    2011-12-11 04:00:00
Free                           0
month                         12
day                           11
hour                           4
minu                           0
weekday                        6
Name: 1264, dtype: object
date time    2011-12-11 04:15:00
Free                           0
month                         12
day                           11
hour                           4
minu                          15
weekday                        6
Name: 1265, dtype: object
date time    2011-12-11 04:30:00
Free                           0
month                         12
day                           11
hour                           4
minu                          30
weekday                        6
Name: 1266, dtype: object
date time    2011-12-11 04:45:00
Free                           0
month                         12
day                           11
hour                           4
minu                          45
weekday                        6
Name: 1267, dtype: object
date time    2011-12-11 05:00:00
Free                           0
month                         12
day                           11
hour                           5
minu                           0
weekday                        6
Name: 1268, dtype: object
date time    2011-12-11 05:15:00
Free                           0
month                         12
day                           11
hour                           5
minu                          15
weekday                        6
Name: 1269, dtype: object
date time    2011-12-11 05:30:00
Free                           0
month                         12
day                           11
hour                           5
minu                          30
weekday                        6
Name: 1270, dtype: object
date time    2011-12-11 05:45:00
Free                           0
month                         12
day                           11
hour                           5
minu                          45
weekday                        6
Name: 1271, dtype: object
date time    2011-12-11 06:00:00
Free                           0
month                         12
day                           11
hour                           6
minu                           0
weekday                        6
Name: 1272, dtype: object
date time    2011-12-11 06:15:00
Free                           0
month                         12
day                           11
hour                           6
minu                          15
weekday                        6
Name: 1273, dtype: object
date time    2011-12-11 06:30:00
Free                           0
month                         12
day                           11
hour                           6
minu                          30
weekday                        6
Name: 1274, dtype: object
date time    2011-12-11 06:45:00
Free                           0
month                         12
day                           11
hour                           6
minu                          45
weekday                        6
Name: 1275, dtype: object
date time    2011-12-11 07:00:00
Free                           0
month                         12
day                           11
hour                           7
minu                           0
weekday                        6
Name: 1276, dtype: object
date time    2011-12-11 07:15:00
Free                           0
month                         12
day                           11
hour                           7
minu                          15
weekday                        6
Name: 1277, dtype: object
date time    2011-12-11 07:30:00
Free                           0
month                         12
day                           11
hour                           7
minu                          30
weekday                        6
Name: 1278, dtype: object
date time    2011-12-11 07:45:00
Free                           0
month                         12
day                           11
hour                           7
minu                          45
weekday                        6
Name: 1279, dtype: object
date time    2011-12-11 08:00:00
Free                           0
month                         12
day                           11
hour                           8
minu                           0
weekday                        6
Name: 1280, dtype: object
date time    2011-12-11 08:15:00
Free                           0
month                         12
day                           11
hour                           8
minu                          15
weekday                        6
Name: 1281, dtype: object
date time    2011-12-11 08:30:00
Free                           0
month                         12
day                           11
hour                           8
minu                          30
weekday                        6
Name: 1282, dtype: object
date time    2011-12-11 08:45:00
Free                           0
month                         12
day                           11
hour                           8
minu                          45
weekday                        6
Name: 1283, dtype: object
date time    2011-12-11 09:00:00
Free                           0
month                         12
day                           11
hour                           9
minu                           0
weekday                        6
Name: 1284, dtype: object
date time    2011-12-11 09:15:00
Free                           0
month                         12
day                           11
hour                           9
minu                          15
weekday                        6
Name: 1285, dtype: object
date time    2011-12-11 09:30:00
Free                           0
month                         12
day                           11
hour                           9
minu                          30
weekday                        6
Name: 1286, dtype: object
date time    2011-12-11 09:45:00
Free                           0
month                         12
day                           11
hour                           9
minu                          45
weekday                        6
Name: 1287, dtype: object
date time    2011-12-11 10:00:00
Free                           0
month                         12
day                           11
hour                          10
minu                           0
weekday                        6
Name: 1288, dtype: object
date time    2011-12-11 10:15:00
Free                           0
month                         12
day                           11
hour                          10
minu                          15
weekday                        6
Name: 1289, dtype: object
date time    2011-12-11 10:30:00
Free                           0
month                         12
day                           11
hour                          10
minu                          30
weekday                        6
Name: 1290, dtype: object
date time    2011-12-11 10:45:00
Free                           0
month                         12
day                           11
hour                          10
minu                          45
weekday                        6
Name: 1291, dtype: object
date time    2011-12-11 11:00:00
Free                           0
month                         12
day                           11
hour                          11
minu                           0
weekday                        6
Name: 1292, dtype: object
date time    2011-12-11 11:15:00
Free                           0
month                         12
day                           11
hour                          11
minu                          15
weekday                        6
Name: 1293, dtype: object
date time    2011-12-11 11:30:00
Free                           0
month                         12
day                           11
hour                          11
minu                          30
weekday                        6
Name: 1294, dtype: object
date time    2011-12-11 11:45:00
Free                           0
month                         12
day                           11
hour                          11
minu                          45
weekday                        6
Name: 1295, dtype: object
date time    2011-12-11 12:00:00
Free                           0
month                         12
day                           11
hour                          12
minu                           0
weekday                        6
Name: 1296, dtype: object
date time    2011-12-11 12:15:00
Free                           0
month                         12
day                           11
hour                          12
minu                          15
weekday                        6
Name: 1297, dtype: object
date time    2011-12-11 12:30:00
Free                           1
month                         12
day                           11
hour                          12
minu                          30
weekday                        6
Name: 1298, dtype: object
date time    2011-12-11 12:45:00
Free                           1
month                         12
day                           11
hour                          12
minu                          45
weekday                        6
Name: 1299, dtype: object
date time    2011-12-11 13:00:00
Free                           1
month                         12
day                           11
hour                          13
minu                           0
weekday                        6
Name: 1300, dtype: object
date time    2011-12-11 13:15:00
Free                           1
month                         12
day                           11
hour                          13
minu                          15
weekday                        6
Name: 1301, dtype: object
date time    2011-12-11 13:30:00
Free                           1
month                         12
day                           11
hour                          13
minu                          30
weekday                        6
Name: 1302, dtype: object
date time    2011-12-11 13:45:00
Free                           1
month                         12
day                           11
hour                          13
minu                          45
weekday                        6
Name: 1303, dtype: object
date time    2011-12-11 14:00:00
Free                           1
month                         12
day                           11
hour                          14
minu                           0
weekday                        6
Name: 1304, dtype: object
date time    2011-12-11 14:15:00
Free                           1
month                         12
day                           11
hour                          14
minu                          15
weekday                        6
Name: 1305, dtype: object
date time    2011-12-11 14:30:00
Free                           0
month                         12
day                           11
hour                          14
minu                          30
weekday                        6
Name: 1306, dtype: object
date time    2011-12-11 14:45:00
Free                           0
month                         12
day                           11
hour                          14
minu                          45
weekday                        6
Name: 1307, dtype: object
date time    2011-12-11 15:00:00
Free                           0
month                         12
day                           11
hour                          15
minu                           0
weekday                        6
Name: 1308, dtype: object
date time    2011-12-11 15:15:00
Free                           0
month                         12
day                           11
hour                          15
minu                          15
weekday                        6
Name: 1309, dtype: object
date time    2011-12-11 15:30:00
Free                           1
month                         12
day                           11
hour                          15
minu                          30
weekday                        6
Name: 1310, dtype: object
date time    2011-12-11 15:45:00
Free                           1
month                         12
day                           11
hour                          15
minu                          45
weekday                        6
Name: 1311, dtype: object
date time    2011-12-11 16:00:00
Free                           1
month                         12
day                           11
hour                          16
minu                           0
weekday                        6
Name: 1312, dtype: object
date time    2011-12-11 16:15:00
Free                           1
month                         12
day                           11
hour                          16
minu                          15
weekday                        6
Name: 1313, dtype: object
date time    2011-12-11 16:30:00
Free                           1
month                         12
day                           11
hour                          16
minu                          30
weekday                        6
Name: 1314, dtype: object
date time    2011-12-11 16:45:00
Free                           1
month                         12
day                           11
hour                          16
minu                          45
weekday                        6
Name: 1315, dtype: object
date time    2011-12-11 17:00:00
Free                           1
month                         12
day                           11
hour                          17
minu                           0
weekday                        6

Name: 1316, dtype: object
date time    2011-12-11 17:15:00
Free                           1
month                         12
day                           11
hour                          17
minu                          15
weekday                        6
Name: 1317, dtype: object
date time    2011-12-11 17:30:00
Free                           1
month                         12
day                           11
hour                          17
minu                          30
weekday                        6
Name: 1318, dtype: object
date time    2011-12-11 17:45:00
Free                           1
month                         12
day                           11
hour                          17
minu                          45
weekday                        6
Name: 1319, dtype: object
date time    2011-12-11 18:00:00
Free                           1
month                         12
day                           11
hour                          18
minu                           0
weekday                        6
Name: 1320, dtype: object
date time    2011-12-11 18:15:00
Free                           1
month                         12
day                           11
hour                          18
minu                          15
weekday                        6
Name: 1321, dtype: object
date time    2011-12-11 18:30:00
Free                           1
month                         12
day                           11
hour                          18
minu                          30
weekday                        6
Name: 1322, dtype: object
date time    2011-12-11 18:45:00
Free                           1
month                         12
day                           11
hour                          18
minu                          45
weekday                        6
Name: 1323, dtype: object
date time    2011-12-11 19:00:00
Free                           1
month                         12
day                           11
hour                          19
minu                           0
weekday                        6
Name: 1324, dtype: object
date time    2011-12-11 19:15:00
Free                           1
month                         12
day                           11
hour                          19
minu                          15
weekday                        6
Name: 1325, dtype: object
date time    2011-12-11 19:30:00
Free                           1
month                         12
day                           11
hour                          19
minu                          30
weekday                        6
Name: 1326, dtype: object
date time    2011-12-11 19:45:00
Free                           1
month                         12
day                           11
hour                          19
minu                          45
weekday                        6
Name: 1327, dtype: object
date time    2011-12-11 20:00:00
Free                           1
month                         12
day                           11
hour                          20
minu                           0
weekday                        6
Name: 1328, dtype: object
date time    2011-12-11 20:15:00
Free                           1
month                         12
day                           11
hour                          20
minu                          15
weekday                        6
Name: 1329, dtype: object
date time    2011-12-11 20:30:00
Free                           1
month                         12
day                           11
hour                          20
minu                          30
weekday                        6
Name: 1330, dtype: object
date time    2011-12-11 20:45:00
Free                           1
month                         12
day                           11
hour                          20
minu                          45
weekday                        6
Name: 1331, dtype: object
date time    2011-12-11 21:00:00
Free                           1
month                         12
day                           11
hour                          21
minu                           0
weekday                        6
Name: 1332, dtype: object
date time    2011-12-11 21:15:00
Free                           1
month                         12
day                           11
hour                          21
minu                          15
weekday                        6
Name: 1333, dtype: object
date time    2011-12-11 21:30:00
Free                           1
month                         12
day                           11
hour                          21
minu                          30
weekday                        6
Name: 1334, dtype: object
date time    2011-12-11 21:45:00
Free                           0
month                         12
day                           11
hour                          21
minu                          45
weekday                        6
Name: 1335, dtype: object
date time    2011-12-11 22:00:00
Free                           0
month                         12
day                           11
hour                          22
minu                           0
weekday                        6
Name: 1336, dtype: object
date time    2011-12-11 22:15:00
Free                           0
month                         12
day                           11
hour                          22
minu                          15
weekday                        6
Name: 1337, dtype: object
date time    2011-12-11 22:30:00
Free                           0
month                         12
day                           11
hour                          22
minu                          30
weekday                        6
Name: 1338, dtype: object
date time    2011-12-11 22:45:00
Free                           0
month                         12
day                           11
hour                          22
minu                          45
weekday                        6
Name: 1339, dtype: object
date time    2011-12-11 23:00:00
Free                           0
month                         12
day                           11
hour                          23
minu                           0
weekday                        6
Name: 1340, dtype: object
date time    2011-12-11 23:15:00
Free                           0
month                         12
day                           11
hour                          23
minu                          15
weekday                        6
Name: 1341, dtype: object
date time    2011-12-11 23:30:00
Free                           0
month                         12
day                           11
hour                          23
minu                          30
weekday                        6
Name: 1342, dtype: object
date time    2011-12-11 23:45:00
Free                           0
month                         12
day                           11
hour                          23
minu                          45
weekday                        6
Name: 1343, dtype: object
date time    2011-12-12 00:00:00
Free                           0
month                         12
day                           12
hour                           0
minu                           0
weekday                        0
Name: 1344, dtype: object
date time    2011-12-12 00:15:00
Free                           0
month                         12
day                           12
hour                           0
minu                          15
weekday                        0
Name: 1345, dtype: object
date time    2011-12-12 00:30:00
Free                           0
month                         12
day                           12
hour                           0
minu                          30
weekday                        0
Name: 1346, dtype: object
date time    2011-12-12 00:45:00
Free                           0
month                         12
day                           12
hour                           0
minu                          45
weekday                        0
Name: 1347, dtype: object
date time    2011-12-12 01:00:00
Free                           0
month                         12
day                           12
hour                           1
minu                           0
weekday                        0
Name: 1348, dtype: object
date time    2011-12-12 01:15:00
Free                           0
month                         12
day                           12
hour                           1
minu                          15
weekday                        0
Name: 1349, dtype: object
date time    2011-12-12 01:30:00
Free                           0
month                         12
day                           12
hour                           1
minu                          30
weekday                        0
Name: 1350, dtype: object
date time    2011-12-12 01:45:00
Free                           0
month                         12
day                           12
hour                           1
minu                          45
weekday                        0
Name: 1351, dtype: object
date time    2011-12-12 02:00:00
Free                           0
month                         12
day                           12
hour                           2
minu                           0
weekday                        0
Name: 1352, dtype: object
date time    2011-12-12 02:15:00
Free                           0
month                         12
day                           12
hour                           2
minu                          15
weekday                        0
Name: 1353, dtype: object
date time    2011-12-12 02:30:00
Free                           0
month                         12
day                           12
hour                           2
minu                          30
weekday                        0
Name: 1354, dtype: object
date time    2011-12-12 02:45:00
Free                           0
month                         12
day                           12
hour                           2
minu                          45
weekday                        0
Name: 1355, dtype: object
date time    2011-12-12 03:00:00
Free                           0
month                         12
day                           12
hour                           3
minu                           0
weekday                        0
Name: 1356, dtype: object
date time    2011-12-12 03:15:00
Free                           0
month                         12
day                           12
hour                           3
minu                          15
weekday                        0
Name: 1357, dtype: object
date time    2011-12-12 03:30:00
Free                           0
month                         12
day                           12
hour                           3
minu                          30
weekday                        0
Name: 1358, dtype: object
date time    2011-12-12 03:45:00
Free                           0
month                         12
day                           12
hour                           3
minu                          45
weekday                        0
Name: 1359, dtype: object
date time    2011-12-12 04:00:00
Free                           0
month                         12
day                           12
hour                           4
minu                           0
weekday                        0
Name: 1360, dtype: object
date time    2011-12-12 04:15:00
Free                           0
month                         12
day                           12
hour                           4
minu                          15
weekday                        0
Name: 1361, dtype: object
date time    2011-12-12 04:30:00
Free                           0
month                         12
day                           12
hour                           4
minu                          30
weekday                        0
Name: 1362, dtype: object
date time    2011-12-12 04:45:00
Free                           0
month                         12
day                           12
hour                           4
minu                          45
weekday                        0
Name: 1363, dtype: object
date time    2011-12-12 05:00:00
Free                           0
month                         12
day                           12
hour                           5
minu                           0
weekday                        0
Name: 1364, dtype: object
date time    2011-12-12 05:15:00
Free                           0
month                         12
day                           12
hour                           5
minu                          15
weekday                        0
Name: 1365, dtype: object
date time    2011-12-12 05:30:00
Free                           0
month                         12
day                           12
hour                           5
minu                          30
weekday                        0
Name: 1366, dtype: object
date time    2011-12-12 05:45:00
Free                           0
month                         12
day                           12
hour                           5
minu                          45
weekday                        0
Name: 1367, dtype: object
date time    2011-12-12 06:00:00
Free                           0
month                         12
day                           12
hour                           6
minu                           0
weekday                        0
Name: 1368, dtype: object
date time    2011-12-12 06:15:00
Free                           0
month                         12
day                           12
hour                           6
minu                          15
weekday                        0
Name: 1369, dtype: object
date time    2011-12-12 06:30:00
Free                           0
month                         12
day                           12
hour                           6
minu                          30
weekday                        0
Name: 1370, dtype: object
date time    2011-12-12 06:45:00
Free                           0
month                         12
day                           12
hour                           6
minu                          45
weekday                        0
Name: 1371, dtype: object
date time    2011-12-12 07:00:00
Free                           0
month                         12
day                           12
hour                           7
minu                           0
weekday                        0
Name: 1372, dtype: object
date time    2011-12-12 07:15:00
Free                           0
month                         12
day                           12
hour                           7
minu                          15
weekday                        0
Name: 1373, dtype: object
date time    2011-12-12 07:30:00
Free                           0
month                         12
day                           12
hour                           7
minu                          30
weekday                        0
Name: 1374, dtype: object
date time    2011-12-12 07:45:00
Free                           0
month                         12
day                           12
hour                           7
minu                          45
weekday                        0
Name: 1375, dtype: object
date time    2011-12-12 08:00:00
Free                           0
month                         12
day                           12
hour                           8
minu                           0
weekday                        0
Name: 1376, dtype: object
date time    2011-12-12 08:15:00
Free                           0
month                         12
day                           12
hour                           8
minu                          15
weekday                        0
Name: 1377, dtype: object
date time    2011-12-12 08:30:00
Free                           0
month                         12
day                           12
hour                           8
minu                          30
weekday                        0
Name: 1378, dtype: object
date time    2011-12-12 08:45:00
Free                           0
month                         12
day                           12
hour                           8
minu                          45
weekday                        0
Name: 1379, dtype: object
date time    2011-12-12 09:00:00
Free                           0
month                         12
day                           12
hour                           9
minu                           0
weekday                        0
Name: 1380, dtype: object
date time    2011-12-12 09:15:00
Free                           0
month                         12
day                           12
hour                           9
minu                          15
weekday                        0
Name: 1381, dtype: object
date time    2011-12-12 09:30:00
Free                           0
month                         12
day                           12
hour                           9
minu                          30
weekday                        0
Name: 1382, dtype: object
date time    2011-12-12 09:45:00
Free                           0
month                         12
day                           12
hour                           9
minu                          45
weekday                        0
Name: 1383, dtype: object
date time    2011-12-12 10:00:00
Free                           0
month                         12
day                           12
hour                          10
minu                           0
weekday                        0
Name: 1384, dtype: object
date time    2011-12-12 10:15:00
Free                           0
month                         12
day                           12
hour                          10
minu                          15
weekday                        0
Name: 1385, dtype: object
date time    2011-12-12 10:30:00
Free                           0
month                         12
day                           12
hour                          10
minu                          30
weekday                        0
Name: 1386, dtype: object
date time    2011-12-12 10:45:00
Free                           0
month                         12
day                           12
hour                          10
minu                          45
weekday                        0
Name: 1387, dtype: object
date time    2011-12-12 11:00:00
Free                           0
month                         12
day                           12
hour                          11
minu                           0
weekday                        0
Name: 1388, dtype: object
date time    2011-12-12 11:15:00
Free                           0
month                         12
day                           12
hour                          11
minu                          15
weekday                        0
Name: 1389, dtype: object
date time    2011-12-12 11:30:00
Free                           0
month                         12
day                           12
hour                          11
minu                          30
weekday                        0
Name: 1390, dtype: object
date time    2011-12-12 11:45:00
Free                           0
month                         12
day                           12
hour                          11
minu                          45
weekday                        0
Name: 1391, dtype: object
date time    2011-12-12 12:00:00
Free                           0
month                         12
day                           12
hour                          12
minu                           0
weekday                        0
Name: 1392, dtype: object
date time    2011-12-12 12:15:00
Free                           0
month                         12
day                           12
hour                          12
minu                          15
weekday                        0
Name: 1393, dtype: object
date time    2011-12-12 12:30:00
Free                           0
month                         12
day                           12
hour                          12

date time    2011-12-12 14:15:00
Free                           0
month                         12
day                           12
hour                          14
minu                          15
weekday                        0
Name: 1401, dtype: object
date time    2011-12-12 14:30:00
Free                           0
month                         12
day                           12
hour                          14
minu                          30
weekday                        0
Name: 1402, dtype: object
date time    2011-12-12 14:45:00
Free                           0
month                         12
day                           12
hour                          14
minu                          45
weekday                        0
Name: 1403, dtype: object
date time    2011-12-12 15:00:00
Free                           0
month                         12
day                           12
hour                          15
minu                           0
weekday                        0
Name: 1404, dtype: object
date time    2011-12-12 15:15:00
Free                           0
month                         12
day                           12
hour                          15
minu                          15
weekday                        0
Name: 1405, dtype: object
date time    2011-12-12 15:30:00
Free                           0
month                         12
day                           12
hour                          15
minu                          30
weekday                        0
Name: 1406, dtype: object
date time    2011-12-12 15:45:00
Free                           0
month                         12
day                           12
hour                          15
minu                          45
weekday                        0
Name: 1407, dtype: object
date time    2011-12-12 16:00:00
Free                           0
month                         12
day                           12
hour                          16
minu                           0
weekday                        0
Name: 1408, dtype: object
date time    2011-12-12 16:15:00
Free                           0
month                         12
day                           12
hour                          16
minu                          15
weekday                        0
Name: 1409, dtype: object
date time    2011-12-12 16:30:00
Free                           0
month                         12
day                           12
hour                          16
minu                          30
weekday                        0
Name: 1410, dtype: object
date time    2011-12-12 16:45:00
Free                           0
month                         12
day                           12
hour                          16
minu                          45
weekday                        0
Name: 1411, dtype: object
date time    2011-12-12 17:00:00
Free                           0
month                         12
day                           12
hour                          17
minu                           0
weekday                        0
Name: 1412, dtype: object
date time    2011-12-12 17:15:00
Free                           0
month                         12
day                           12
hour                          17
minu                          15
weekday                        0
Name: 1413, dtype: object
date time    2011-12-12 17:30:00
Free                           0
month                         12
day                           12
hour                          17
minu                          30
weekday                        0
Name: 1414, dtype: object
date time    2011-12-12 17:45:00
Free                           0
month                         12
day                           12
hour                          17
minu                          45
weekday                        0
Name: 1415, dtype: object
date time    2011-12-12 18:00:00
Free                           0
month                         12
day                           12
hour                          18
minu                           0
weekday                        0
Name: 1416, dtype: object
date time    2011-12-12 18:15:00
Free                           0
month                         12
day                           12
hour                          18
minu                          15
weekday                        0
Name: 1417, dtype: object
date time    2011-12-12 18:30:00
Free                           0
month                         12
day                           12
hour                          18
minu                          30
weekday                        0
Name: 1418, dtype: object
date time    2011-12-12 18:45:00
Free                           0
month                         12
day                           12
hour                          18
minu                          45
weekday                        0
Name: 1419, dtype: object
date time    2011-12-12 19:00:00
Free                           0
month                         12
day                           12
hour                          19
minu                           0
weekday                        0
Name: 1420, dtype: object
date time    2011-12-12 19:15:00
Free                           0
month                         12
day                           12
hour                          19
minu                          15
weekday                        0
Name: 1421, dtype: object
date time    2011-12-12 19:30:00
Free                           0
month                         12
day                           12
hour                          19
minu                          30
weekday                        0
Name: 1422, dtype: object
date time    2011-12-12 19:45:00
Free                           0
month                         12
day                           12
hour                          19
minu                          45
weekday                        0
Name: 1423, dtype: object
date time    2011-12-12 20:00:00
Free                           0
month                         12
day                           12
hour                          20
minu                           0
weekday                        0
Name: 1424, dtype: object
date time    2011-12-12 20:15:00
Free                           0
month                         12
day                           12
hour                          20
minu                          15
weekday                        0
Name: 1425, dtype: object
date time    2011-12-12 20:30:00
Free                           0
month                         12
day                           12
hour                          20
minu                          30
weekday                        0
Name: 1426, dtype: object
date time    2011-12-12 20:45:00
Free                           0
month                         12
day                           12
hour                          20
minu                          45
weekday                        0
Name: 1427, dtype: object
date time    2011-12-12 21:00:00
Free                           0
month                         12
day                           12
hour                          21
minu                           0
weekday                        0
Name: 1428, dtype: object
date time    2011-12-12 21:15:00
Free                           0
month                         12
day                           12
hour                          21
minu                          15
weekday                        0
Name: 1429, dtype: object
date time    2011-12-12 21:30:00
Free                           0
month                         12
day                           12
hour                          21
minu                          30
weekday                        0
Name: 1430, dtype: object
date time    2011-12-12 21:45:00
Free                           0
month                         12
day                           12
hour                          21
minu                          45
weekday                        0
Name: 1431, dtype: object
date time    2011-12-12 22:00:00
Free                           0
month                         12
day                           12
hour                          22
minu                           0
weekday                        0
Name: 1432, dtype: object
date time    2011-12-12 22:15:00
Free                           0
month                         12
day                           12
hour                          22
minu                          15
weekday                        0
Name: 1433, dtype: object
date time    2011-12-12 22:30:00
Free                           0
month                         12
day                           12
hour                          22
minu                          30
weekday                        0
Name: 1434, dtype: object
date time    2011-12-12 22:45:00
Free                           0
month                         12
day                           12
hour                          22
minu                          45
weekday                        0
Name: 1435, dtype: object
date time    2011-12-12 23:00:00
Free                           0
month                         12
day                           12
hour                          23
minu                           0
weekday                        0
Name: 1436, dtype: object

In [118]:
df2.to_csv("data.csv")